{{- if lookPath "gp" -}}
function gp -d 'gitpod cli'

  switch $command
  case env
    set -e argv[1]
    command gp env $argv
    command gp env -e | source
  case '*'
    command gp $argv
  end
end
{{- end -}}
