#!/bin/sh

set -e

# shellcheck source=lib.sh
. "{{ .chezmoi.sourceDir }}/dot_local/share/bootstrap/lib.sh"

section "Ruby"

git_sync https://github.com/rbenv/rbenv "$RBENV_ROOT"
git_sync https://github.com/rbenv/ruby-build "$RBENV_ROOT/plugins/ruby-build"
git_sync https://github.com/rbenv/rbenv-default-gems "$RBENV_ROOT/plugins/rbenv-default-gems"

(
  cd "$RBENV_ROOT" || exit 1
  src/configure
  make -C src
)

RUBY_VERSION=$(rbenv install -l | selectversion)
if ! rbenv versions --bare | grep -Fxq "$RUBY_VERSION"; then
  info "Installing Ruby $RUBY_VERSION..."
  rbenv install -s "$RUBY_VERSION"
  info "Activating Ruby $RUBY_VERSION..."
  rbenv global "$RUBY_VERSION"
fi

for ruby in $(rbenv versions --bare); do
  info "Updating RubyGems ($ruby)..."
  RBENV_VERSION=$ruby gem update --system
  info "Updating installed gems ($ruby)..."
  RBENV_VERSION=$ruby gem update
done

# vi: ft=sh
