#!/bin/sh

set -e

# shellcheck source=lib.sh
. "{{ .chezmoi.sourceDir }}/dot_local/share/bootstrap/lib.sh"

section "nvim"

if ! pyenv versions --bare | grep -Fxq "neovim"; then
  info "Creating neovim virtual environment..."
  pyenv virtualenv neovim
  PYENV_VERSION=neovim python -m pip install pynvim
fi

pipx_install "neovim-remote"
pipx_install "vim-vint"

cargo_install "pack" "https://github.com/maralla/pack"

# vi: ft=sh
