#!/bin/sh

set -e

# shellcheck source=lib.sh
. "{{ .chezmoi.sourceDir }}/dot_local/share/bootstrap/lib.sh"

section "Golang"

git_sync https://github.com/syndbg/goenv "$GOENV_ROOT"

(
  cd "$GOENV_ROOT" || exit 1
  src/configure
  make -C src
)

GOLANG_VERSION=$(goenv install -l | selectversion)
GOENV_INSTALLED=$(goenv versions --bare)

if ! echo "$GOENV_INSTALLED" | grep -Fxq "$GOLANG_VERSION"; then
  info "Installing Golang $GOLANG_VERSION..."
  goenv install -s "$GOLANG_VERSION"
  info "Activating Golang $GOLANG_VERSION..."
  goenv global "$GOLANG_VERSION"
fi

go_get "github.com/golangci/golangci-lint/cmd/golangci-lint@latest"
go_get "golang.org/x/tools/gopls@latest"

# vi: ft=sh
