#!/bin/sh

set -e

# shellcheck source=lib.sh
. "{{ .chezmoi.sourceDir }}/dot_local/share/bootstrap/lib.sh"

section "Git"

go_get "github.com/mkchoi212/fac@latest"
cargo_install "git-interactive-rebase-tool"

fetch_url "https://raw.githubusercontent.com/so-fancy/diff-so-fancy/master/third_party/build_fatpack/diff-so-fancy" "$HOME/.local/bin/diff-so-fancy" true
fetch_url "https://raw.githubusercontent.com/kamranahmedse/git-standup/master/git-standup" "$HOME/.local/bin/git-standup" true
fetch_url "https://raw.githubusercontent.com/paulirish/git-open/master/git-open" "$HOME/.local/bin/git-open" true
fetch_url "https://raw.githubusercontent.com/paulirish/git-recent/master/git-recent" "$HOME/.local/bin/git-recent" true

mkdir -p "$XDG_DATA_HOME/tig"

# vi: ft=sh
