#!/bin/sh

set -e

# shellcheck source=lib.sh
. "{{ .chezmoi.sourceDir }}/dot_local/share/bootstrap/lib.sh"

section "Rust"

if [ -z "$CARGO_HOME" ]; then
  export CARGO_HOME="$XDG_DATA_HOME/cargo"
fi
if [ -z "$RUSTUP_HOME" ]; then
  export RUSTUP_HOME="$XDG_DATA_HOME/rustup"
fi
export PATH="$CARGO_HOME/bin:$PATH"

if ! command -v rustup >/dev/null; then
  info "Installing Rust toolchain..."
  curl https://sh.rustup.rs | sh -s -- -y --no-modify-path -c rust-src rust-analysis rls miri llvm-tools-preview
else
  info "Updating Rust toolchain..."
  rustup update
fi

if command -v cargo-install-update >/dev/null; then
  info "Updating cargo packages..."
  cargo install-update -a -g
fi

cargo_install "cargo-binutils"
cargo_install "cargo-bloat"
cargo_install "cargo-edit"
cargo_install "cargo-expand"
cargo_install "cargo-outdated"
cargo_install "cargo-sweep"
cargo_install "cargo-tree"
cargo_install "cargo-update"
cargo_install "cargo-watch"
cargo_install "racer"

# vi: ft=sh
