{{- if eq (index .chezmoi.osRelease "id") "ubuntu" -}}
{{- $impishPlus := semverCompare "~21.10" .chezmoi.osRelease.versionID -}}
#!/bin/sh -e

echo "Asking for root credentials..."
sudo -v

echo "Adding custom Ubuntu repos..."
arch={{ .chezmoi.arch | quote }}
codename={{ .chezmoi.osRelease.ubuntuCodename | quote }}

GNUPGHOME="$(sudo mktemp -d)"
trap 'sudo rm -rf -- "$GNUPGHOME"' EXIT

# fish
keyring="/usr/share/keyrings/fish-shell-maintainers.gpg"
if ! [ -e "$keyring" ]; then
  sudo gpg --homedir "$GNUPGHOME" --no-default-keyring --keyring "$keyring" --keyserver "hkps://keyserver.ubuntu.com" --recv-keys 0x59FDA1CE1B84B3FAD89366C027557F056DC33CA5 
fi
echo "deb [arch=$arch signed-by=$keyring] http://ppa.launchpad.net/fish-shell/release-3/ubuntu $codename main" | sudo tee /etc/apt/sources.list.d/fish-ppa.list >/dev/null

# github-cli
keyring="/usr/share/keyrings/githubcli-archive-keyring.gpg"
if ! [ -e "$keyring" ]; then
  sudo curl -sSfL https://cli.github.com/packages/githubcli-archive-keyring.gpg -o "$keyring"
fi
echo "deb [arch=$arch signed-by=$keyring] https://cli.github.com/packages $codename main" | sudo tee /etc/apt/sources.list.d/github-cli.list >/dev/null

echo "Installing packages with APT..."
sudo apt-get update
sudo apt-get install -o Dpkg::Options::="--force-overwrite" -y \
  {{/* Development Tools */ -}}
  build-essential \
  ccache \
  clang \
  cmake \
  musl-tools \
  pkgconf \
  {{/* Libraries */ -}}
  libbz2-dev \
  libffi-dev \
  libgdbm-dev \
  libgmp-dev \
  liblzma-dev \
  libncurses-dev \
  libreadline-dev \
  libsqlite3-dev \
  libssl-dev \
  libyaml-dev \
  zlib1g-dev \
{{- if $impishPlus }}
  {{/* User Programs */ -}}
  age \
{{- end }}
  asciinema \
  bat \
  bpfcc-tools \
  direnv \
{{- if $impishPlus }}
  exa \
{{- end }}
  fd-find \
  fish \
  fzf \
  gdb \
  gh \
  git \
{{- if $impishPlus }}
  git-filter-repo \
{{- end }}
  git-lfs \
  golang \
  hexyl \
  htop \
  jq \
  lftp \
  libfile-mimeinfo-perl \
  linux-tools-common \
  manpages-posix \
  manpages-posix-dev \
  mosh \
  mycli \
  neovim \
  pcp \
  pgcli \
  pipx \
{{- if $impishPlus }}
  pre-commit \
{{- end }}
  python-is-python3 \
{{- if not $impishPlus }}
  python3-venv \
{{- end }}
  ripgrep \
{{- if eq .chezmoi.arch "amd64" }}
  rr \
{{- end }}
  shellcheck \
  socat \
  thefuck \
  tig \
  tmate \
  tmux \
  universal-ctags \
  unzip \
  whois \
  xdg-utils \
{{- if $impishPlus }}
  zoxide
{{ else }}
  ""
{{- end }}

# Missing:
# 1password-cli
# croc
# curlie
# diskus
# git-delta-bin
# git-interactive-rebase-tool
# gh
# hyperfine
# lostfiles
# mkcert
# sd
# tealdeer
# tokei
# vivid
# watchexec

# vi: ft=sh
{{- end -}}
