{{- if not .devcontainer.any -}}
#!/bin/sh -e

export GO111MODULE="${GO111MODULE:-on}"

{{ if not (lookPath "xurls") }}
echo "Installing xurls..."
go install "mvdan.cc/xurls/v2/cmd/xurls@latest"
{{ end }}

# vi: ft=sh
{{- end -}}
