{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh -e

echo "Installing packages from Brewfile..."
brew bundle --file=- <<EOF
{{ include "private_dot_config/brew/Brewfile" }}
EOF

# vi: ft=sh.chezmoitemplate
{{- end -}}
