{{- if .wsl.any -}}
{{- $ping := output "realpath" (lookPath "ping") | trim -}}
{{- if (not (output "getcap" $ping)) -}}
#!/bin/sh -e

echo "Adding cap_net_raw to ping..."
sudo setcap cap_net_raw+p {{ $ping | quote }}

# vi: ft=sh
{{- end -}}
{{- end -}}
