{{- if eq (index .chezmoi.osRelease "id") "arch" -}}
#!/bin/sh -e

{{- if .wsl.any }}
keyring={{ joinPath .chezmoi.sourceDir ".keyring" "wslutilities.asc" | quote}}
fingerprint=$(gpg --show-keys --with-colons "$keyring" | grep fpr | cut -d: -f10 | head -n1)

if ! pacman-key --list-keys 2>/dev/null | grep -q "$fingerprint"; then
  echo "Importing wslutilities signing key..."
  sudo pacman-key --add "$keyring"
  sudo pacman-key --lsign-key "$fingerprint"
fi

if ! grep -Eq '^\[wslutilities\]' /etc/pacman.conf; then
  echo "Enabling wslutilities repo..."
  printf '\n%s\n%s' '[wslutilities]' 'Server = https://pkg.wslutiliti.es/arch/' | sudo tee -a /etc/pacman.conf >/dev/null
fi
{{- end }}

# pass through language managers
export GOENV_VERSION=system \
       NODENV_VERSION=system \
       PYENV_VERSION=system \
       RBENV_VERSION=system

echo "Installing packages with paru..."
paru -Sy --needed --noconfirm \
  {{/* Development Tools */ -}}
  base-devel \
  ccache \
  clang \
  cmake \
  musl \
  {{/* Libraries */ -}}
  bzip2 \
  gdbm \
  gmp \
  libffi \
  libyaml \
  ncurses \
  openssl \
  readline \
  sqlite \
  xz \
  zlib \
  {{/* User Programs */ -}}
  1password-cli \
  age \
  asciinema \
  bat \
  bcc-tools \
  chezmoi \
  croc \
  ctags \
  curlie \
  diskus \
  dstat \
  exa \
  fd \
  fish \
  fzf \
  gdb \
  git \
  git-delta \
  git-filter-repo \
  git-interactive-rebase-tool-bin \
  git-lfs \
  github-cli \
  go \
  handlr \
  hexyl \
  htop \
  hyperfine \
  jq \
  lftp \
  lostfiles \
  lsof \
  ltrace \
  man-db \
  man-pages \
  mkcert \
  mosh \
  mycli \
  neovim \
  net-tools \
  pacman-contrib \
  paru-bin \
  perf \
  perl-file-mimeinfo \
  pgcli \
  python-pipx \
  python-pre-commit \
  ripgrep \
  rr-bin \
  sd \
  shellcheck \
  socat \
  starship \
  tealdeer \
  thefuck \
  tig \
  tmate \
  tmux \
  tokei \
  unzip \
  vivid \
  watchexec \
  whois \
  wslu \
  xdg-utils-handlr \
  zoxide

# vi: ft=sh
{{- end -}}
