{{- if eq (index .chezmoi.osRelease "id") "ubuntu" -}}
{{- $impish := semverCompare "~21.10" .chezmoi.osRelease.versionID -}}
#!/bin/sh -e

echo "Adding custom Ubuntu repos..."
{{ if $impish -}}
sudo apt-add-repository --yes --no-update --ppa fish-shell/release-3
{{ else }}
sudo apt-add-repository --yes --no-update ppa:fish-shell/release-3
{{ end -}}

echo "Installing packages with APT..."
sudo apt-get update
sudo apt-get install -o Dpkg::Options::="--force-overwrite" -y \
  {{/* Development Tools */ -}}
  build-essential \
  ccache \
  clang \
  cmake \
  musl-tools \
  pkgconf \
  {{/* Libraries */ -}}
  libbz2-dev \
  libffi-dev \
  libgdbm-dev \
  libgmp-dev \
  liblzma-dev \
  libncurses-dev \
  libreadline-dev \
  libsqlite3-dev \
  libssl-dev \
  libyaml-dev \
  zlib1g-dev \
{{- if $impish }}
  {{/* User Programs */ -}}
  age \
{{- end }}
  asciinema \
  bat \
  bpfcc-tools \
  direnv \
{{- if $impish }}
  exa \
{{- end }}
  fd-find \
  fish \
  fzf \
  gdb \
  git \
{{- if $impish }}
  git-filter-repo \
{{- end }}
  git-lfs \
  golang \
  hexyl \
  htop \
  jq \
  lftp \
  libfile-mimeinfo-perl \
  linux-tools-common \
  manpages-posix \
  manpages-posix-dev \
  mosh \
  mycli \
  neovim \
  pcp \
  pgcli \
  pipx \
{{- if $impish }}
  pre-commit \
{{- end }}
  python-is-python3 \
{{- if not $impish }}
  python3-venv \
{{- end }}
  ripgrep \
{{- if eq .chezmoi.arch "amd64" }}
  rr \
{{- end }}
  shellcheck \
  socat \
  thefuck \
  tig \
  tmate \
  tmux \
  universal-ctags \
  unzip \
  whois \
  xdg-utils \
{{- if $impish }}
  zoxide
{{ else }}
  ""
{{- end }}

# Missing:
# 1password-cli
# croc
# curlie
# diskus
# git-delta-bin
# git-interactive-rebase-tool
# gh
# hyperfine
# lostfiles
# mkcert
# sd
# tealdeer
# tokei
# vivid
# watchexec

# vi: ft=sh
{{- end -}}
