{{- if eq (index .chezmoi.osRelease "id") "ubuntu" -}}
#!/bin/sh -e

echo "Asking for root credentials..."
sudo -v

{{- $fish_repo := dict "name" "fish-ppa" "uri" "http://ppa.launchpad.net/fish-shell/release-3/ubuntu" "suite" .chezmoi.osRelease.ubuntuCodename }}
{{- $github_repo := dict "name" "github-cli" "uri" "https://cli.github.com/packages" "suite" "stable" }}
{{- $neovim_repo := dict "name" "neovim-ppa" "uri" "http://ppa.launchpad.net/neovim-ppa/stable/ubuntu" "suite" .chezmoi.osRelease.ubuntuCodename }}
{{- range list $fish_repo $github_repo $neovim_repo }}
  if ! [ -f "/etc/apt/sources.list.d/{{ .name }}.sources" ]; then
    echo "Enabling {{ .name }} repo..."
    sudo tee "/etc/apt/sources.list.d/{{ .name }}.sources" <<EOF >/dev/null
Types: deb
URIs: {{ .uri }}
Suites: {{ .suite }}
Components: main
Architectures: {{ $.chezmoi.arch }}
Signed-By:
{{ include (joinPath ".keyring" (printf "%s.asc" .name)) | replace "\n\n" "\n.\n" | indent 1 }}
EOF
  fi
{{- end }}

echo "Installing packages with APT..."
sudo apt-get update
sudo apt-get install -o Dpkg::Options::="--force-overwrite" -y \
  {{/* Development Tools */ -}}
  build-essential \
  ccache \
  clang \
  cmake \
  musl-tools \
  pkgconf \
  {{/* Libraries */ -}}
  libbz2-dev \
  libffi-dev \
  libgdbm-dev \
  libgmp-dev \
  liblzma-dev \
  libncurses-dev \
  libreadline-dev \
  libsqlite3-dev \
  libssl-dev \
  libyaml-dev \
  zlib1g-dev \
  {{/* User Programs */ -}}
  age \
  asciinema \
  bat \
  bpfcc-tools \
  direnv \
  exa \
  fd-find \
  fish \
  fzf \
  gdb \
  gh \
  git \
  git-filter-repo \
  git-lfs \
  golang \
  hexyl \
  htop \
  hyperfine \
  jq \
  lftp \
  libfile-mimeinfo-perl \
  linux-tools-common \
  manpages-posix \
  manpages-posix-dev \
  mkcert \
  mosh \
  mycli \
  neovim \
  pcp \
  pgcli \
  pipx \
  pre-commit \
  python-is-python3 \
  ripgrep \
{{- if eq .chezmoi.arch "amd64" }}
  rr \
{{- end }}
  shellcheck \
  socat \
  thefuck \
  tig \
  tmate \
  tmux \
  universal-ctags \
  unzip \
  whois \
  xdg-utils \
  zoxide

# Missing:
# 1password-cli
# croc
# curlie
# diskus
# git-delta-bin
# git-interactive-rebase-tool
# lostfiles
# sd
# tealdeer
# tokei
# vivid
# watchexec

# vi: ft=sh
{{- end -}}
