{{- if eq (index .chezmoi.osRelease "id") "ubuntu" -}}
{{- $impishPlus := semverCompare "~21.10" .chezmoi.osRelease.versionID -}}
#!/bin/sh -e

echo "Asking for root credentials..."
sudo -v

{{- range $name, $uri := (dict "fish-ppa" "http://ppa.launchpad.net/fish-shell/release-3/ubuntu" "github-cli" "https://cli.github.com/packages" "neovim-ppa" "http://ppa.launchpad.net/neovim-ppa/stable/ubuntu") }}
  if ! [ -f "/etc/apt/sources.list.d/{{ $name }}.sources" ]; then
    echo "Enabling {{ $name }} repo..."
    sudo tee "/etc/apt/sources.list.d/{{ $name }}.sources" <<EOF >/dev/null
Types: deb
URIs: {{ $uri }}
Suites: {{ $.chezmoi.osRelease.ubuntuCodename }}
Components: main
Architectures: {{ $.chezmoi.arch }}
Signed-By:
{{ include (joinPath ".keyring" (printf "%s.asc" $name)) | replace "\n\n" "\n.\n" | indent 1 }}
EOF
  fi
{{- end }}

echo "Installing packages with APT..."
sudo apt-get update
sudo apt-get install -o Dpkg::Options::="--force-overwrite" -y \
  {{/* Development Tools */ -}}
  build-essential \
  ccache \
  clang \
  cmake \
  musl-tools \
  pkgconf \
  {{/* Libraries */ -}}
  libbz2-dev \
  libffi-dev \
  libgdbm-dev \
  libgmp-dev \
  liblzma-dev \
  libncurses-dev \
  libreadline-dev \
  libsqlite3-dev \
  libssl-dev \
  libyaml-dev \
  zlib1g-dev \
{{- if $impishPlus }}
  {{/* User Programs */ -}}
  age \
{{- end }}
  asciinema \
  bat \
  bpfcc-tools \
  direnv \
{{- if $impishPlus }}
  exa \
{{- end }}
  fd-find \
  fish \
  fzf \
  gdb \
  gh \
  git \
{{- if $impishPlus }}
  git-filter-repo \
{{- end }}
  git-lfs \
  golang \
  hexyl \
  htop \
  jq \
  lftp \
  libfile-mimeinfo-perl \
  linux-tools-common \
  manpages-posix \
  manpages-posix-dev \
  mosh \
  mycli \
  neovim \
  pcp \
  pgcli \
  pipx \
{{- if $impishPlus }}
  pre-commit \
{{- end }}
  python-is-python3 \
{{- if not $impishPlus }}
  python3-venv \
{{- end }}
  ripgrep \
{{- if eq .chezmoi.arch "amd64" }}
  rr \
{{- end }}
  shellcheck \
  socat \
  thefuck \
  tig \
  tmate \
  tmux \
  universal-ctags \
  unzip \
  whois \
  xdg-utils \
{{- if $impishPlus }}
  zoxide
{{ else }}
  ""
{{- end }}

# Missing:
# 1password-cli
# croc
# curlie
# diskus
# git-delta-bin
# git-interactive-rebase-tool
# gh
# hyperfine
# lostfiles
# mkcert
# sd
# tealdeer
# tokei
# vivid
# watchexec

# vi: ft=sh
{{- end -}}
