{{- if lookPath "chezmoi" -}}
function __chezmoi_targets
  command chezmoi managed --include=files,symlinks,scripts \
    | fzf --multi --preview 'chezmoi cat ~/{}'
end

function chezmoi -a sub
  if command -q gh
    set -fx GITHUB_TOKEN (gh auth token -h github.com 2>/dev/null)
  end

  set argc (count $argv)
  switch $sub
  case cat
    if test $argc -eq 1
      if set targets (__chezmoi_targets)
        chezmoi cat '~/'$targets
      end
      return
    else if test $argc -eq 2
      command chezmoi $argv | bat --style=numbers --color=always --file-name $argv[2]
      return
    end
  case cd
    commandline --replace 'cd '(command chezmoi source-path $argv[2..-1])
    return
  case edit
    if test $argc -eq 1
      if set targets (__chezmoi_targets)
        chezmoi edit '~/'$targets
      end
      return
    end
  case add
    if test $argc -eq 1
      if set targets (chezmoi status \
        | string match -re '^.M|^M.' | string sub -s 4 \
        | fzf --multi --preview 'chezmoi diff --reverse --color=true ~/{}')
        chezmoi add '~/'$targets
      end
      return
    end
  end

  # use the git-editor wrapper to take advantage of custom logic
  set -lx VISUAL git-editor

  command chezmoi $argv
end
{{- end -}}
