{{- if lookPath "fzf" -}}
function fzf
  if is_editor
    command fzf $argv
  else
    # --tmux is a no-op outside tmux, so it covers both cases.
    command fzf --tmux 75% $argv
  end
end
{{- end -}}
