{{- if or (lookPath "sudo") (lookPath "sudo-rs") -}}
set -l sudo sudo
command -q sudo-rs; and set sudo sudo-rs

function sudo -V sudo
  if string match -eq $VISUAL[1] $argv[1]
    command $sudo -e $argv[2..-1]
  else
    command $sudo $argv
  end
end
{{- end -}}
