#!/bin/sh

set -e

# shellcheck source=lib.sh
. "{{ .chezmoi.sourceDir }}/bootstrap//lib.sh"

section "Rust"

if ! command -v rustup >/dev/null; then
  info "Installing Rust toolchain..."
  curl https://sh.rustup.rs | sh -s -- -y --no-modify-path -c rust-src rust-analysis rls miri llvm-tools-preview
else
  info "Updating Rust toolchain..."
  rustup update
fi

if command -v cargo-install-update >/dev/null; then
  info "Updating cargo packages..."
  cargo install-update -a -g
fi

cargo_install "cargo-binutils"
cargo_install "cargo-bloat"
cargo_install "cargo-edit"
cargo_install "cargo-expand"
cargo_install "cargo-outdated"
cargo_install "cargo-sweep"
cargo_install "cargo-tree"
cargo_install "cargo-update"
cargo_install "cargo-watch"

# vi: ft=sh
