{{- if and (lookPath "tmux") (lookPath "fzf") -}}
function tmux-select -d 'quickly attach to or create a new tmux session'
  set session (tmux list-sessions -F '#{session_name}' | command fzf --tac --print-query)[-1]
  test -z "$session"; and return

  if is_tmux
    if not tmux has-session -t $session &>/dev/null
      tmux new-session -d -s $session
    end
    tmux switch-client -t $session
  else
    tmux new-session -A -s $session
  end
end
{{- end -}}
