{{/* environment/hardware tags */}}
{{- $codespaces := false }}{{/* github codespaces/vscode devcontainer */}}
{{- $wsl        := false }}{{/* wsl 1/2 */}}
{{- $wsl1       := false }}{{/* wsl 1 */}}
{{- $wsl2       := false }}{{/* wsl 2 */}}

{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") -}}
{{- $codespaces = true -}}
{{- end -}}
{{- if (env "WSL_DISTRO_NAME") -}}
{{- $wsl = true -}}
{{- end -}}
{{- if and $wsl (env "WSL_INTEROP" | not) -}}
{{- $wsl1 = true -}}
{{- end -}}
{{- if and $wsl (env "WSL_INTEROP") -}}
{{- $wsl2 = true -}}
{{- end -}}

{{/* boolean feature tags */}}
{{- $headless  := false -}}{{/* no graphical interface */}}
{{- $transient := false -}}{{/* temporary machine (VM/cloud instances/container) */}}
{{- $dotnet    := false -}}{{/* install/manage dotnet toolchain */}}
{{- $golang    := false -}}{{/* install/manage golang toolchain */}}
{{- $node      := false -}}{{/* install/manage node toolchain */}}
{{- $python    := false -}}{{/* install/manage python toolchain */}}
{{- $ruby      := false -}}{{/* install/manage ruby toolchain */}}
{{- $rust      := false -}}{{/* install/manage rust toolchain */}}

{{- if .configured -}}
{{-   $headless  = .headless -}}
{{-   $transient = .transient -}}
{{-   $dotnet    = .dotnet -}}
{{-   $golang    = .golang -}}
{{-   $node      = .node -}}
{{-   $python    = .python -}}
{{-   $ruby      = .ruby -}}
{{-   $rust      = .rust -}}
{{- else -}}

{{/* preset detection */}}
{{-   if $codespaces -}}
{{-     $headless  = true -}}
{{-     $transient = true -}}
{{-   end -}}
{{-   if $wsl -}}
{{-     $headless  = true -}}
{{-   end -}}

{{/* base configration */}}
{{-   if and (not $headless) (stdinIsATTY) -}}
{{-       $headless = promptBool "headless" -}}
{{-   end -}}
{{-   if and (not $transient) (stdinIsATTY) -}}
{{-       $transient = promptBool "transient" -}}
{{-   end -}}

{{/* interactive-only configuration */}}
{{-   if and (not $transient) (stdinIsATTY) -}}
{{-     $dotnet    = promptBool "dotnet" -}}
{{-     $golang    = promptBool "golang" -}}
{{-     $node      = promptBool "node" -}}
{{-     $python    = promptBool "python" -}}
{{-     $ruby      = promptBool "ruby" -}}
{{-     $rust      = promptBool "rust" -}}
{{-   end -}}
{{- end -}}

{{/* email configuration */}}
{{- $email := get .user "email" -}}
{{- if not $email -}}
{{-   if not $transient -}}
{{-     $email = promptString "email" -}}
{{-   else -}}
{{-     $email = "bjorn@neersighted.com" -}}
{{-   end -}}
{{- end -}}

{{/* special cases */}}
{{- if eq .chezmoi.os "freebsd" -}}
{{-   $dotnet = false -}}{{/* always disable dotnet on freebsd */}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}
remove = true

[data]
    configured = true

    codespaces = {{ $codespaces }}
    wsl        = {{ $wsl }}
    wsl1       = {{ $wsl1 }}
    wsl2       = {{ $wsl2 }}

    headless   = {{ $headless }}
    transient  = {{ $transient }}
    dotnet     = {{ $dotnet }}
    golang     = {{ $golang }}
    node       = {{ $node }}
    python     = {{ $python }}
    ruby       = {{ $ruby }}
    rust       = {{ $rust }}

[data.user]
    name   = "Bjorn Neergaard"
    email  = {{ $email | quote }}
    gpgkey = "0x08AAA409549C0EC5"

[data.nord]
    nord0  = '#2e3440'
    nord1  = '#3b4252'
    nord2  = '#434c5e'
    nord3  = '#4c566a'
    nord4  = '#d8dee9'
    nord5  = '#e5e9f0'
    nord6  = '#eceff4'
    nord7  = '#8fbcbb'
    nord8  = '#88c0d0'
    nord9  = '#81a1c1'
    nord10 = '#5e81ac'
    nord11 = '#bf616a'
    nord12 = '#d08770'
    nord13 = '#ebcb8b'
    nord14 = '#a3be8c'
    nord15 = '#b48ead'

    nord1dim  = '#373e4d'
    nord5dim  = '#aeb3bb'
    nord8dim  = '#6d96a5'
    nord9dim  = '#68809a'
    nord11dim = '#94545d'
    nord13dim = '#b29e75'
    nord14dim = '#809575'
    nord15dim = '#8c738c'

# vi: ft=toml
