{{/* environment/hardware tags */}}
{{- $codespaces := false -}}{{/* github codespaces/vscode devcontainer */}}
{{- $wsl        := false -}}{{/* wsl 1/2 */}}
{{- $wsl1       := false -}}{{/* wsl 1 */}}
{{- $wsl2       := false -}}{{/* wsl 2 */}}

{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") -}}
{{- $codespaces = true -}}
{{- end -}}
{{- if (env "WSL_DISTRO_NAME") -}}
{{- $wsl = true -}}
{{- end -}}
{{- if and $wsl (env "WSL_INTEROP" | not) -}}
{{- $wsl1 = true -}}
{{- end -}}
{{- if and $wsl (env "WSL_INTEROP") -}}
{{- $wsl2 = true -}}
{{- end -}}

{{/* boolean feature tags */}}
{{- $headless  := false -}}{{/* no graphical interface */}}
{{- $transient := false -}}{{/* temporary machine (VM/cloud instances/container) */}}

{{- if .configured -}}
{{-   $headless  = .headless -}}
{{-   $transient = .transient -}}
{{- else -}}

{{/* preset detection */}}
{{-   if $codespaces -}}
{{-     $headless  = true -}}
{{-     $transient = true -}}
{{-   end -}}
{{-   if $wsl -}}
{{-     $headless  = true -}}
{{-   end -}}

{{/* base configration */}}
{{-   if and (not $headless) (stdinIsATTY) -}}
{{-       $headless = promptBool "headless" -}}
{{-   end -}}
{{-   if and ($transient) (stdinIsATTY) -}}
{{-       $transient = promptBool "transient" -}}
{{-   end -}}
{{- end -}}

{{/* email configuration */}}
{{- $email := get .user "email" -}}
{{- if not $email -}}
{{-   if not $transient -}}
{{-     $email = promptString "email" -}}
{{-   else -}}
{{-     $email = "bjorn@neersighted.com" -}}
{{-   end -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}
remove = true

{{- if not $transient }}
encryption = "age"
[age]
    identity = {{ joinPath .chezmoi.homeDir ".config/chezmoi/key.txt" | quote }}
    recipient = "age1qdsdpzhafts3l3sxnma98z5rprgtv246cqevdsw9gzggmaajauhsx44f8x"
{{- end }}

[data]
    configured = true

    codespaces = {{ $codespaces }}
    wsl        = {{ $wsl }}
    wsl1       = {{ $wsl1 }}
    wsl2       = {{ $wsl2 }}

    headless   = {{ $headless }}
    transient  = {{ $transient }}

[data.user]
    name   = "Bjorn Neergaard"
    email  = {{ $email | quote }}

[data.node]
    current = 17
[data.node.lts]
    erbium = 12
    fermium = 14
    gallium = 16
    hydrogen = 18
    active = 16

{{ $pythons := list "3.6" "3.7" "3.8" "3.9" "3.10" }}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $pythons = slice $pythons 1 -}}
{{- end -}}
[data.python]
    supported = {{ $pythons | toJson }}

[data.nord]
    nord0  = '#2e3440'
    nord1  = '#3b4252'
    nord2  = '#434c5e'
    nord3  = '#4c566a'
    nord4  = '#d8dee9'
    nord5  = '#e5e9f0'
    nord6  = '#eceff4'
    nord7  = '#8fbcbb'
    nord8  = '#88c0d0'
    nord9  = '#81a1c1'
    nord10 = '#5e81ac'
    nord11 = '#bf616a'
    nord12 = '#d08770'
    nord13 = '#ebcb8b'
    nord14 = '#a3be8c'
    nord15 = '#b48ead'

    nord1dim  = '#373e4d'
    nord5dim  = '#aeb3bb'
    nord8dim  = '#6d96a5'
    nord9dim  = '#68809a'
    nord11dim = '#94545d'
    nord13dim = '#b29e75'
    nord14dim = '#809575'
    nord15dim = '#8c738c'

# vi: ft=toml
