{{/* environment/hardware tags */}}
{{- $devcontainer := false -}}{{/* devcontainer (codespaces, gitpod, vscode) */}}
{{- $codespaces   := false -}}{{/* github codespaces */}}
{{- $gitpod       := false -}}{{/* gitpod */}}
{{- $vscontainer  := false -}}{{/* vs code remote containers */}}
{{- $wsl          := false -}}{{/* wsl 1/2 */}}
{{- $wsl1         := false -}}{{/* wsl 1 */}}
{{- $wsl2         := false -}}{{/* wsl 2 */}}

{{/* devcontainer detection */}}
{{- if (env "CODESPACES") -}}
{{- $codespaces = true -}}
{{- end -}}
{{- if (env "GITPOD_WORKSPACE_ID") -}}
{{- $gitpod = true -}}
{{- end -}}
{{- if (env "REMOTE_CONTAINERS_IPC") -}}
{{- $vscontainer = true -}}
{{- end -}}
{{- if or $codespaces $gitpod $vscontainer -}}
{{- $devcontainer = true -}}
{{- end -}}

{{/* wsl detection */}}
{{- if (env "WSL_DISTRO_NAME") -}}
{{- $wsl = true -}}
{{- end -}}
{{- if and $wsl (env "WSL_INTEROP" | not) -}}
{{- $wsl1 = true -}}
{{- end -}}
{{- if and $wsl (env "WSL_INTEROP") -}}
{{- $wsl2 = true -}}
{{- end -}}

{{/* boolean feature tags */}}
{{- $headless  := false -}}{{/* no graphical interface */}}
{{- $transient := false -}}{{/* temporary machine (VM/cloud instances/container) */}}

{{- if .configured -}}
{{-   $headless  = .headless -}}
{{-   $transient = .transient -}}
{{- else -}}

{{/* preset detection */}}
{{-   if $devcontainer -}}
{{-     $headless  = true -}}
{{-     $transient = true -}}
{{-   end -}}
{{-   if $wsl -}}
{{-     $headless  = true -}}
{{-   end -}}

{{/* base configration */}}
{{-   if and (not $headless) (stdinIsATTY) -}}
{{-       $headless = promptBool "headless" -}}
{{-   end -}}
{{-   if and (not $transient) (stdinIsATTY) -}}
{{-       $transient = promptBool "transient" -}}
{{-   end -}}
{{- end -}}

{{/* name configuration */}}
{{- $name := get .user "name" -}}
{{- if not $name -}}
{{-   if env "GITPOD_GIT_USER_NAME" -}}
{{-     $name = env "GITPOD_GIT_USER_NAME" -}}
{{-   else -}}
{{-     $name = "Bjorn Neergaard" -}}
{{-   end -}}
{{- end -}}

{{/* email configuration */}}
{{- $email := get .user "email" -}}
{{- if not $email -}}
{{-   if not $transient -}}
{{-     $email = promptString "email" -}}
{{-   else if env "GITPOD_GIT_USER_EMAIL" -}}
{{-     $email = env "GITPOD_GIT_USER_EMAIL" -}}
{{-   else -}}
{{-     $email = "bjorn@neersighted.com" -}}
{{-   end -}}
{{- end -}}

{{/* github configuration */}}
{{- $github := get .user "github" -}}
{{- if not $github -}}
{{-   if not $transient -}}
{{-     $github = promptString "github" -}}
{{-   else if env "GITHUB_USER" -}}
{{-     $github = env "GITHUB_USER" -}}
{{-   else -}}
{{-     $github = "neersighted" -}}
{{-   end -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}
remove = true

encryption = "age"
{{- if not $transient }}
[age]
    identity = {{ joinPath .chezmoi.homeDir ".config/chezmoi/key.txt" | quote }}
    recipient = "age1qdsdpzhafts3l3sxnma98z5rprgtv246cqevdsw9gzggmaajauhsx44f8x"
{{- end }}

[data]
    configured = true

    headless   = {{ $headless }}
    transient  = {{ $transient }}

[data.user]
    name   = {{ $name | quote }}
    email  = {{ $email | quote }}
    github = {{ $github | quote }}

[data.devcontainer]
    any         = {{ $devcontainer }}
    codespaces  = {{ $codespaces }}
    gitpod      = {{ $gitpod }}
    vscontainer = {{ $vscontainer }}

[data.wsl]
    any          = {{ $wsl }}
    wsl1         = {{ $wsl1 }}
    wsl2         = {{ $wsl2 }}
{{- if $wsl }}
[data.wsl.aliases]
    adb        = "adb.exe"
    clion      = "cmd.exe /c clion.cmd"
    cmd        = "cmd.exe"
    goland     = "cmd.exe /c goland.cmd"
    idea       = "cmd.exe /c idea.cmd"
    multipass  = "multipass.exe"
    neovide    = "neovide.exe --wsl"
    powershell = "powershell.exe"
    pycharm    = "cmd /c pycharm.cmd"
    rider      = "cmd /c Rider.cmd"
    studio     = "cmd /c studio.cmd"
    wsl        = "wsl.exe"
    ykman      = "ykman.exe"
{{- end }}

[data.node]
    current  = 17
[data.node.lts]
    erbium   = 12
    fermium  = 14
    gallium  = 16
    hydrogen = 18
    active   = 16

[data.python]
{{- if eq .chezmoi.os "darwin" }}
    supported = ["3.7", "3.8", "3.9", "3.10"]
{{ else }}
    supported = ["3.6", "3.7", "3.8", "3.9", "3.10"]
{{- end }}

[data.nord]
    nord0  = '#2e3440'
    nord1  = '#3b4252'
    nord2  = '#434c5e'
    nord3  = '#4c566a'
    nord4  = '#d8dee9'
    nord5  = '#e5e9f0'
    nord6  = '#eceff4'
    nord7  = '#8fbcbb'
    nord8  = '#88c0d0'
    nord9  = '#81a1c1'
    nord10 = '#5e81ac'
    nord11 = '#bf616a'
    nord12 = '#d08770'
    nord13 = '#ebcb8b'
    nord14 = '#a3be8c'
    nord15 = '#b48ead'

    nord1dim  = '#373e4d'
    nord5dim  = '#aeb3bb'
    nord8dim  = '#6d96a5'
    nord9dim  = '#68809a'
    nord11dim = '#94545d'
    nord13dim = '#b29e75'
    nord14dim = '#809575'
    nord15dim = '#8c738c'

# vi: ft=toml
