{{- if eq .chezmoi.os "darwin" -}}
{{ include ".lib.sh" }}

section "Packages (Homebrew)"

important "Installing packages from Brewfile..."
brew bundle

# run_once hash: {{ include "private_dot_config/brew/Brewfile" | sha256sum }}
# vi: ft=sh
{{- end -}}
