{{- if ne .chezmoi.os "freebsd" -}}
{{ include ".lib.sh" }}
section ".NET"

if [ ! -d "$DOTNET_ROOT" ]; then
  important "Fetching .NET SDK..."
  export DOTNET_INSTALL_DIR=$DOTNET_ROOT
  curl -sS https://dotnet.microsoft.com/download/dotnet/scripts/v1/dotnet-install.sh | bash -s -- --no-path --channel Current
fi

dotnet_tool_install installsdkglobaltool

# FIXME: dotnet arrow key bug
tput rmkx

# vi: ft=sh
{{- end -}}
