{{ range .packages.macos.taps | sortAlpha | uniq -}}
tap {{ quote . }}
{{ end -}}
{{ range .packages.macos.formulae | sortAlpha | uniq -}}
brew {{ quote . }}
{{ end -}}
{{ range .packages.macos.casks | sortAlpha | uniq -}}
cask {{ quote . }}
{{ end -}}
{{ range .packages.macos.app_store -}}
mas {{ quote .name }}, id: {{ .id }}
{{ end -}}
