{{/* chezmoi meta-variables */}}
{{- $configDir := dir .chezmoi.configFile -}}

{{/* environment/hardware tags */}}
{{- $devcontainer := false -}}{{/* devcontainer (codespaces, vscode) */}}
{{- $codespaces   := false -}}{{/* github codespaces */}}
{{- $vscontainer  := false -}}{{/* vs code remote containers */}}
{{- $wsl          := false -}}{{/* wsl 1/2 */}}
{{- $wsl1         := false -}}{{/* wsl 1 */}}
{{- $wsl2         := false -}}{{/* wsl 2 */}}

{{/* devcontainer detection */}}
{{- if (env "CODESPACES") -}}
{{-   $codespaces = true -}}
{{- end -}}
{{- if (env "REMOTE_CONTAINERS_IPC") -}}
{{-   $vscontainer = true -}}
{{- end -}}
{{- if or $codespaces $vscontainer -}}
{{-   $devcontainer = true -}}
{{- end -}}

{{/* wsl detection */}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if contains "Microsoft" .chezmoi.kernel.osrelease -}}
{{-     $wsl1 = true -}}
{{-   end -}}
{{-   if contains "microsoft" .chezmoi.kernel.osrelease -}}
{{-     $wsl2 = true -}}
{{-   end -}}
{{-   if or $wsl1 $wsl2 -}}
{{-     $wsl = true -}}
{{-   end -}}
{{- end -}}

{{/* boolean feature tags */}}
{{- $headless  := false -}}{{/* no graphical interface */}}
{{- $transient := false -}}{{/* temporary machine (VM/cloud instances/container) */}}

{{/* preset detection (used as prompt defaults) */}}
{{- if (eq .chezmoi.username "root" "ubuntu" "vagrant") -}}
{{-   $transient = true -}}
{{- end -}}
{{- if $devcontainer -}}
{{-   $headless  = true -}}
{{-   $transient = true -}}
{{- end -}}

{{/* prompt once, then reuse the stored value (default non-interactively) */}}
{{- $headless  = promptBoolOnce . "headless"  "headless"  $headless  -}}
{{- $transient = promptBoolOnce . "transient" "transient" $transient -}}

sourceDir = {{ quote .chezmoi.sourceDir }}
remove = true

encryption = "age"
[age]
    recipient = "age1elrqkhgy7qlk5xyhv8x0xs38svnzufvyvhcus3spn7y4w6lhyd9qau28dn"
{{- if not $transient }}
    identity = {{ quote (joinPath $configDir "key.txt")}}
{{- end }}

[completion]
    custom = true

[edit]
    apply = true
    watch = true

[data]
    headless   = {{ $headless }}
    transient  = {{ $transient }}

[data.devcontainer]
    any         = {{ $devcontainer }}
    codespaces  = {{ $codespaces }}
    vscontainer = {{ $vscontainer }}

[data.wsl]
    any          = {{ $wsl }}
    wsl1         = {{ $wsl1 }}
    wsl2         = {{ $wsl2 }}
