{{/* environment/hardware tags */}}
{{- $devcontainer := false -}}{{/* devcontainer (codespaces, vscode) */}}
{{- $codespaces   := false -}}{{/* github codespaces */}}
{{- $vscontainer  := false -}}{{/* vs code remote containers */}}
{{- $wsl          := false -}}{{/* wsl 1/2 */}}
{{- $wsl1         := false -}}{{/* wsl 1 */}}
{{- $wsl2         := false -}}{{/* wsl 2 */}}

{{/* os environment detection */}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* devcontainer detection */}}
{{- if (env "CODESPACES") -}}
{{- $codespaces = true -}}
{{- end -}}
{{- if (env "REMOTE_CONTAINERS_IPC") -}}
{{- $vscontainer = true -}}
{{- end -}}
{{- if or $codespaces $vscontainer -}}
{{- $devcontainer = true -}}
{{- end -}}

{{/* wsl detection */}}
{{- if (env "WSL_DISTRO_NAME") -}}
{{- $wsl = true -}}
{{- end -}}
{{- if and $wsl (env "WSL_INTEROP" | not) -}}
{{- $wsl1 = true -}}
{{- end -}}
{{- if and $wsl (env "WSL_INTEROP") -}}
{{- $wsl2 = true -}}
{{- end -}}

{{/* boolean feature tags */}}
{{- $headless  := false -}}{{/* no graphical interface */}}
{{- $transient := false -}}{{/* temporary machine (VM/cloud instances/container) */}}

{{- if .configured -}}
{{-   $headless  = .headless -}}
{{-   $transient = .transient -}}
{{- else -}}

{{/* preset detection */}}
{{-   if (eq .chezmoi.username "root" "ubuntu" "vagrant") -}}
{{-     $transient = true -}}
{{-   end -}}
{{-   if $devcontainer -}}
{{-     $headless  = true -}}
{{-     $transient = true -}}
{{-   end -}}
{{/* base configration */}}
{{-   if and (not $headless) stdinIsATTY -}}
{{-       $headless = promptBool "headless" false -}}
{{-   end -}}
{{-   if and (not $transient) stdinIsATTY -}}
{{-       $transient = promptBool "transient" false -}}
{{-   end -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}
remove = true

encryption = "age"
[age]
    recipient = "age1qdsdpzhafts3l3sxnma98z5rprgtv246cqevdsw9gzggmaajauhsx44f8x"
{{- if not $transient }}
    identity = {{ joinPath (dir .chezmoi.configFile) "key.txt" | quote }}
{{- end }}

[completion]
    custom = true

[data]
    configured = true

    osid       = {{ $osid | quote }}
    headless   = {{ $headless }}
    transient  = {{ $transient }}

[data.devcontainer]
    any         = {{ $devcontainer }}
    codespaces  = {{ $codespaces }}
    vscontainer = {{ $vscontainer }}

[data.wsl]
    any          = {{ $wsl }}
    wsl1         = {{ $wsl1 }}
    wsl2         = {{ $wsl2 }}
