Host *.lan
	CheckHostIp no

Host git.launchpad.net
	HostKeyAlgorithms +ssh-rsa

Host heroku.com
	HostKeyAlgorithms +ssh-rsa

Host *.tmate.io
	CheckHostIp no

Host *
	CheckHostIp yes
	VerifyHostKeyDNS ask
	StrictHostKeyChecking ask
	UpdateHostKeys no
	UserKnownHostsFile ~/.ssh/local_hosts ~/.ssh/known_hosts ~/.ssh/common_hosts
{{- if ne .chezmoi.os "windows" }}
	ControlMaster auto
	ControlPath ~/.ssh/%C.sock
	ControlPersist 30m
{{- end }}

Include ~/.ssh/config.d/*
