{{- if ne .chezmoi.os "windows" -}}
Match host * exec "gpg-connect-agent updatestartuptty /bye"

Host *
	ControlMaster auto
	ControlPath ~/.ssh/%C.sock
	ControlPersist 30m

Include ~/.ssh/config.d/*
{{- end -}}