{{- if ne .chezmoi.os "windows" -}}
{{- if not (env "WSLENV") }}
Match host * exec "gpg-connect-agent updatestartuptty /bye"
{{- end }}

Host *
	ControlMaster auto
	ControlPath ~/.ssh/%C.sock
	ControlPersist 30m

Include ~/.ssh/config.d/*
{{- end -}}
