{{- if eq (index .chezmoi.osRelease "id") "arch" -}}
#!/bin/sh -e

# pass through language managers
export GOENV_VERSION=system \
       NODENV_VERSION=system \
       PYENV_VERSION=system \
       RBENV_VERSION=system

echo "Installing packages with paru..."
paru -Sy --needed --noconfirm \
  {{/* Development Tools */ -}}
  base-devel \
  ccache \
  clang \
  cmake \
  musl \
  {{/* Libraries */ -}}
  bzip2 \
  gdbm \
  gmp \
  libffi \
  libyaml \
  ncurses \
  openssl \
  readline \
  sqlite \
  xz \
  zlib \
  {{/* User Programs */ -}}
  1password-cli \
  age \
  asciinema \
  bat \
  bcc-tools \
  chezmoi \
  croc \
  ctags \
  curlie \
  direnv-bin \
  diskus \
  dstat \
  exa \
  fd \
  fish \
  fzf \
  gdb \
  git \
  git-delta-bin \
  git-filter-repo \
  git-interactive-rebase-tool \
  git-lfs \
  github-cli \
  handlr-bin \
  hexyl \
  htop \
  hyperfine \
  jq \
  lftp \
  lostfiles \
  lsof \
  ltrace \
  man-db \
  man-pages \
  mkcert \
  mosh \
  mycli \
  neovim \
  pacman-contrib \
  paru-bin \
  perf \
  net-tools \
  perl-file-mimeinfo \
  pgcli \
  ripgrep \
  rr-bin \
  sd \
  shellcheck \
  socat \
  tealdeer-bin \
  thefuck \
  tig \
  tmux \
  tokei \
  unzip \
  vivid \
  watchexec \
  whois \
  xdg-utils-handlr \
  zoxide-bin

# vi: ft=sh
{{- end -}}
