{{- if eq (index .chezmoi.osRelease "id") "arch" -}}
#!/bin/sh -e

command -v yay >/dev/null && exit

echo "Bootstrapping yay..."

YAY="${TMPDIR:-/tmp}/yay"
trap 'rm -rf $YAY' EXIT

git clone https://aur.archlinux.org/yay.git "$YAY"
cd "$YAY" || exit
makepkg -si --noconfirm

# vi: ft=sh
{{- end -}}
