{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh -e

# homebrew
if [ -z "$HOMEBREW_BUNDLE_FILE" ]; then
  export HOMEBREW_BUNDLE_FILE="${XDG_CONFIG_HOME:-$HOME/.config}/brew/Brewfile"
fi

echo "Installing packages from Brewfile..."
brew bundle

# run_once hash: {{ include "private_dot_config/brew/Brewfile" | sha256sum }}
# vi: ft=sh
{{- end -}}
