{{- if eq .chezmoi.os "freebsd" -}}
#!/bin/sh -e

[ "$(id -u)" -eq 0 ] || exec su root -c "sh $0"

echo "Installing ports with pkg..."
pkg install -y \
  {{/* Development Tools */ -}}
  devel/ccache \
  devel/cmake \
  devel/gmake \
  {{/* Libraries */ -}}
  databases/gdbm \
  sqlite3 {{/* databases/sqlite3` */}} \
  devel/libffi \
  devel/ncurses \
  devel/readline \
  {{/* User Programs */ -}}
  archivers/unzip \
  benchmarks/hyperfine \
  databases/py-mycli \
  databases/py-pgcli \
  devel/gdb \
  devel/gh \
  git {{/* devel/git */}} \
  devel/git-delta \
  devel/git-lfs \
  devel/hs-ShellCheck \
  devel/interactive_rebase_tool \
  devel/p5-File-MimeInfo \
  devel/py-pip \
  devel/py-pre-commit \
  devel/tig \
  devel/tokei \
  devel/universal-ctags \
  editors/neovim \
  ftp/curl \
  ftp/curlie \
  ftp/lftp \
  lang/python \
  misc/gnu-watch \
  misc/thefuck \
  net/croc \
  net/mosh \
  net/socat \
  net/whois \
  ports-mgmt/pkg \
  ports-mgmt/pkg-provides \
  ports-mgmt/portlint \
  security/1password-client \
  security/age \
  security/gnupg \
  security/pinentry-curses \
  shells/bash \
  shells/fish \
  sysutils/chezmoi \
  sysutils/direnv \
  sysutils/dtrace-toolkit \
  sysutils/exa \
  sysutils/fd \
  sysutils/hexyl \
  sysutils/htop \
  sysutils/tealdeer \
  sysutils/tmux \
  sysutils/vivid \
  sysutils/zoxide \
  textproc/bat \
  textproc/fzf \
  textproc/jq \
  textproc/py-asciinema \
  textproc/ripgrep \
  textproc/sd

# wanted:
# diskus
# git-filter-repo
# mkcert
# watchexec

if ! grep -Eq '^CONSERVATIVE_UPGRADE' /usr/local/etc/pkg.conf; then
  echo "Configuring pkg to upgrade aggressively..."
  printf '\n%s' 'CONSERVATIVE_UPGRADE: false;' >>/usr/local/etc/pkg.conf
fi

if ! grep -Eq '^PKG_ENABLE_PLUGINS' /usr/local/etc/pkg.conf; then
  echo "Enabling pkg-provides..."
  sed -e '/PKG_PLUGINS_DIR/s/^#//' -e '/PKG_ENABLE_PLUGINS/s/^#//' \
    -e 's/#PLUGINS \[/PLUGINS [ provides ]/' -i '' /usr/local/etc/pkg.conf
fi
# vi: ft=sh
{{- end -}}
