{{- if eq (index .chezmoi.osRelease "idLike") "debian" -}}
#!/bin/sh

echo "Installing packages with APT..."
apt-get install -y \
  `# Development Tools` \
  build-essential \
  ccache \
  clang \
  cmake \
  `# Libraries` \
  libbzip2-dev \
  libffi-dev \
  libgdbm-dev \
  libgmp-dev \
  libyaml-dev \
  ncurses-dev \
  openssl-dev \
  readline-dev \
  sqlite-dev \
  xz-dev \
  zlib-dev \
  `# User Programs` \
  1password-cli \
  age \
  asciinema \
  bat \
  chezmoi \
  croc \
  ctags \
  curlie \
  direnv-bin \
  diskus \
  exa \
  fd \
  fish \
  fzf \
  gdb \
  git \
  git-delta-bin \
  git-filter-repo \
  git-interactive-rebase-tool \
  git-lfs \
  github-cli \
  hexyl \
  htop \
  hyperfine \
  jq \
  lftp \
  lostfiles \
  lsof \
  ltrace \
  man-db \
  man-pages \
  mkcert \
  mosh \
  mycli \
  neovim \
  net-tools \
  perl-file-mimeinfo \
  pgcli \
  ripgrep \
  sd \
  shellcheck \
  socat \
  tealdeer-bin \
  thefuck \
  tig \
  tmux \
  tokei \
  unzip \
  vivid \
  watchexec \
  whois \
  xdg-utils \
  zoxide-bin

# vi: ft=sh
{{- end -}}
