{{- if eq (index .chezmoi.osRelease "idLike") "debian" -}}
#!/bin/sh -e

echo "Installing packages with APT..."
sudo apt-get update
sudo apt-get install -y \
  {{/* Development Tools */ -}}
  build-essential \
  ccache \
  clang \
  cmake \
  pkgconf \
  {{/* Libraries */ -}}
  libbz2-dev \
  libffi-dev \
  libgdbm-dev \
  libgmp-dev \
  liblzma-dev \
  libncurses-dev \
  libreadline-dev \
  libsqlite3-dev \
  libssl-dev \
  libyaml-dev \
  zlib1g-dev \
  {{/* User Programs */ -}}
  age \
  asciinema \
  bat \
  bpfcc-tools \
  direnv \
  exa \
  fd-find \
  fish \
  fzf \
  gdb \
  git \
  git-filter-repo \
  git-lfs \
  hexyl \
  htop \
  jq \
  lftp \
  libfile-mimeinfo-perl \
  manpages-posix \
  manpages-posix-dev \
  mosh \
  mycli \
  neovim \
  pcp \
  pgcli \
  python3-pip \
  python3-venv \
  ripgrep \
  shellcheck \
  socat \
  thefuck \
  tig \
  tmux \
  universal-ctags \
  unzip \
  whois \
  xdg-utils \
  zoxide

# Missing:
# 1password-cli
# croc
# curlie
# diskus
# git-delta-bin
# git-interactive-rebase-tool
# gh
# hyperfine
# lostfiles
# mkcert
# sd
# tealdeer
# tokei
# vivid
# watchexec

# vi: ft=sh
{{- end -}}
