{{- if .wsl.any -}}
{{- $ping := output "realpath" (lookPath "ping") | trim -}}
{{- if ne (output "getcap" $ping | trim) (printf "%s cap_net_raw=p" $ping) -}}
#!/bin/sh -e

echo "Setting cap_net_raw+p on {{ $ping }}..."
sudo setcap cap_net_raw+p {{ quote $ping }}

{{- end -}}
{{- end -}}
