#!/bin/sh

export GO111MODULE=on
export GOBIN="${GOBIN:-${XDG_DATA_HOME:-~/.local/share}/go/bin}"
export GOENV_GOPATH_PREFIX="${GOENV_GOPATH_PREFIX:-${XDG_DATA_HOME:-~/.local/share}/go}"
export GOENV_ROOT="${GOENV_ROOT:-.}"
export PATH="$GOBIN:$GOENV_ROOT/shims:$GOENV_ROOT/bin:$PATH"

GOLANG_VERSION=$(goenv install -l | {{ template "latestversion.sh" }})
if ! goenv versions --bare | grep -Fxq "$GOLANG_VERSION"; then
  echo "Installing Golang $GOLANG_VERSION..."
  goenv install -s "$GOLANG_VERSION"
  goenv global "$GOLANG_VERSION"
fi

echo "Installing gopls..."
go get "golang.org/x/tools/gopls@latest"

# run_once hash: "{{ output "goenv" "install" "-l" | sha256sum }}"
# vi: ft=sh
