# live_config_reload: true

# env:
#   TERM: alacritty

{{ if eq .chezmoi.os "windows" }}
shell:
  program: wsl.exe
  args: ['~']
{{ end }}

working_directory: None

# selection:
#   semantic_escape_chars: ",│`|:\"' ()[]{}<>\t"
#   save_to_clipboard: false

# alt_send_esc: true

window:
  # dimensions:
  #   columns: 0
  #   lines: 0
  # position:
  #   x: 0
  #   y: 0
  padding:
    x: 2
    y: 2
  dynamic_padding: true

  {{ if eq .chezmoi.os "darwin" }}
  decorations: buttonless # none,full,transparent,buttonless
  {{ else }}
  decorations: full
  {{ end  }}

  startup_mode: Maximized # Windowed,Maximized,Fullscreen,SimpleFullscreen

  dynamic_title: true
  # title: Alacritty
  # class:
  #   instance: Alacritty
  #   general: Alacritty
  # gtk_theme_variant: None

# cursor:
#   style: Block # Block,Underline,Beam
#   vi_mode_style: None
#   blink_interval: 750
#   unfocused_hollow: true
#   thickness: 0.15

# scrolling:
#   history: 10000
#   multiplier: 3

font:
  normal:
    family: Source Code Pro
    style: Regular
  bold:
    family: Source Code Pro
    style: Bold
  italic:
    family: Source Code Pro
    style: Italic
  bold_italic:
    family: Source Code Pro
    style: Bold Italic
  {{ if eq .chezmoi.os "darwin" }}
  size: 12.0
  {{ else }}
  size: 10.0
  {{ end }}
  # offset:
  #   x: 0
  #   y: 0
  # glyph_offset:
  #   x: 0
  #   y: 0
  {{ if eq .chezmoi.os "darwin" }}
  use_thin_strokes: true
  {{ end }}

colors:
  primary:
    background: '{{ .nord.nord0 }}'
    foreground: '{{ .nord.nord4 }}'
    dim_foreground: '#a5abb6'
  cursor:
    text: '{{ .nord.nord0 }}'
    cursor: '{{ .nord.nord4 }}'
  vi_mode_cursor:
    text: '{{ .nord.nord0 }}'
    cursor: '{{ .nord.nord4 }}'
  selection:
    text: CellForeground
    background: '{{ .nord.nord3 }}'
  search:
    matches:
      foreground: CellBackground
      background: '{{ .nord.nord8 }}'
    bar:
      background: '{{ .nord.nord2 }}'
      foreground: '{{ .nord.nord4 }}'
  normal:
    black: '{{ .nord.nord1 }}'
    red: '{{ .nord.nord11 }}'
    green: '{{ .nord.nord14 }}'
    yellow: '{{ .nord.nord13 }}'
    blue: '{{ .nord.nord9 }}'
    magenta: '{{ .nord.nord15 }}'
    cyan: '{{ .nord.nord8 }}'
    white: '{{ .nord.nord5 }}'
  bright:
    black: '{{ .nord.nord3 }}'
    red: '{{ .nord.nord11 }}'
    green: '{{ .nord.nord14 }}'
    yellow: '{{ .nord.nord13 }}'
    blue: '{{ .nord.nord9 }}'
    magenta: '{{ .nord.nord15 }}'
    cyan: '{{ .nord.nord7 }}'
    white: '{{ .nord.nord6 }}'
  dim:
    black: '{{ .nord.nord1dim }}'
    red: '{{ .nord.nord11dim }}'
    green: '{{ .nord.nord14dim }}'
    yellow: '{{ .nord.nord13dim }}'
    blue: '{{ .nord.nord9dim }}'
    magenta: '{{ .nord.nord15dim }}'
    cyan: '{{ .nord.nord8dim }}'
    white: '{{ .nord.nord5dim }}'

draw_bold_text_with_bright_colors: false

# bell:
#   animation: EaseOutExpo # Ease,EaseOut,EaseOutSine,EaseOutQuad,EaseOutCubic,EaseOutQuart,EaseOutQuint,EaseOutExpo,EaseOutCirc,Linear
#   duration: 0
#   color: '0xFFFFFF'

# background_opacity: 1.0

# mouse:
#   double_click: { threshold: 300 }
#   triple_click: { threshold: 300 }

#   hide_when_typing: false

#   url:
#     launcher:
#       program: xdg-open
#       args: []
#     modifiers: None

# vi: ft=yaml
