{{- if lookPath "rg" -}}
function rge -w rg
  set results (string escape (rg --files-with-matches $argv))

  echo "Press enter to edit:"
  read -P "$EDITOR $results" -n1 do
  if test -z "$do"
    eval $EDITOR $results
  end
end
{{- end -}}
