{{- if lookPath "rg" -}}
function rge -w rg
  set results (rg --files-with-matches --null $argv | string split0)

  if test -n "$results"
    set -q EDITOR; or set -l EDITOR vi
    set -q VISUAL; or set -l VISUAL $EDITOR

    commandline --replace "$VISUAL "(string escape $results | string join ' ')
    commandline --cursor (string length $VISUAL)
  end
end
{{- end -}}
