{{- if and (lookPath "rg") (lookPath "fzf") -}}
function rzf -w rg
  set results (
    rg --pretty $argv |
      gawk -v RS='\n\n+' -v ORS='\0' '1' |
      fzf --read0 --ansi --multi --highlight-line --layout reverse --gap |
      awk '!/^[0-9]+:/ && !/^$/'
  )

  if test -n "$results"
    set -q EDITOR; or set -l EDITOR vi
    set -q VISUAL; or set -l VISUAL $EDITOR

    commandline --replace "$VISUAL "(string escape $results | string join ' ')
    commandline --cursor (string length $VISUAL)
  end
end
{{- end -}}
