colors:
  nord0: '{{ .nord.nord0 | trimPrefix "#" }}'
  nord1: '{{ .nord.nord1 | trimPrefix "#" }}'
  nord2: '{{ .nord.nord2 | trimPrefix "#" }}'
  nord3: '{{ .nord.nord3 | trimPrefix "#" }}'
  nord4: '{{ .nord.nord4 | trimPrefix "#" }}'
  nord5: '{{ .nord.nord5 | trimPrefix "#" }}'
  nord6: '{{ .nord.nord6 | trimPrefix "#" }}'
  nord7: '{{ .nord.nord7 | trimPrefix "#" }}'
  nord8: '{{ .nord.nord8 | trimPrefix "#" }}'
  nord9: '{{ .nord.nord9 | trimPrefix "#" }}'
  nord10: '{{ .nord.nord10 | trimPrefix "#" }}'
  nord11: '{{ .nord.nord11 | trimPrefix "#" }}'
  nord12: '{{ .nord.nord12 | trimPrefix "#" }}'
  nord13: '{{ .nord.nord13 | trimPrefix "#" }}'
  nord14: '{{ .nord.nord14 | trimPrefix "#" }}'
  nord15: '{{ .nord.nord15 | trimPrefix "#" }}'

core:
  regular_file: {}

  directory:
    foreground: nord9

  executable_file:
    foreground: nord14

  symlink:
    foreground: nord15

  broken_symlink:
    foreground: nord0
    background: nord11

  missing_symlink_target:
    foreground: nord15
    background: nord2

  socket:
    foreground: nord8
    background: nord2

  fifo:
    foreground: nord13
    background: nord2

  block_device:
    foreground: nord0
    background: nord8

  character_device:
    foreground: nord0
    background: nord13

  normal_text: {}

  other_writable: {}

  sticky: {}

  sticky_other_writable: {}

text:
  special:
    foreground: nord13
    font-style: underline

  todo:
    font-style: bold

  licenses:
    foreground: nord13
    font-style: underline

  configuration:
    foreground: nord4

  other:
    foreground: nord4

markup:
  foreground: nord13

programming:
  source:
    foreground: nord4

  tooling:
    foreground: nord4

media:
  foreground: nord7

office:
  foreground: nord10

archives:
  foreground: nord10

executable:
  foreground: nord8

unimportant:
  foreground: nord3

# vi: ft=yaml
