#
# User Details
#

[user]
	name = {{ .user.name }}
	email = {{ .user.email }}
	signingKey = {{ .user.gpgkey }}
[credential]
	username = {{ .chezmoi.username }}
	{{ if eq .chezmoi.os "linux" }}
	helper = cache --timeout=3600
	{{ else if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
	{{ end }}

#
# General Config
#

[core]
{{- if lookPath "git-editor" }}
	editor = git-editor
{{- end }}
{{- if lookPath "delta" }}
	pager = delta
{{- end }}
{{- if eq .chezmoi.os "windows" }}
	autocrlf = false
	sshCommand = "{{ lookPath "ssh.exe" | replace "\\" "/" }}" # use windows ssh.exe
{{- end }}
[pull]
	ff = only
	rebase = true
[push]
	default = current

[init]
	defaultBranch = main
[commit]
	verbose = true

[diff]
	algorithm = patience
	colorMoved = default
	mnemonicprefix = true
{{- if lookPath "nvr" }}
	tool = nvr
[merge]
	tool = nvr
{{- end }}
[rebase]
	autoSquash = true
	autoStash = true
	stat = true

[interactive]
{{- if lookPath "delta" }}
	diffFilter = delta --color-only
{{- end }}
	singleKey = true
{{- if lookPath "interactive-rebase-tool" }}
[sequence]
	editor = interactive-rebase-tool
{{- end }}

[status]
	short = true
	branch = true
	showStash = true
	submoduleSummary = true
[log]
	abbrevCommit = true

[format]
	pretty = onelineplus
[pretty]
	onelineplus = format:%C(yellow)%h%C(auto)%d%C(reset) %s %C(blue)(%cr)%C(reset) %C(green)<%aN>
	columns = format:%C(yellow)%h%C(magenta)% G? %C(blue)%<(12,trunc)%ar %C(green)%<(16,trunc)%aN %C(reset)%s%C(auto)%d

#
# Remotes
#

[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/

#
# Tools
#

{{- if lookPath "delta" }}
[delta]
	line-numbers = true
	navigate = true
{{- end}}

{{- if lookPath "nvr" }}
[difftool "nvr"]
	cmd = nvr -s -d $LOCAL $REMOTE
[mergetool "nvr"]
	cmd = nvr -s -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd J | wincmd ='
{{- end }}

{{- if lookPath "git-lfs" }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- end }}

#
# Aliases
#

[alias]
	prune = fetch --prune
	stash-all = stash save --include-untracked
	preset = !git diff -p -R | grep -E '^(diff|(old|new) mode)' | git apply

#
# Colors
#

[color "diff"]
	context = "normal"
	meta = "blue"
	frag = "magenta"
	func = "black"
	commit = "yellow"
	old = "red"
	new = "green"
	whitespace = "yellow reverse"
[color "diff-highlight"]
	oldNormal = "red"
	oldHighlight = "red reverse"
	newNormal = "green"
	newHighlight = "green reverse"

# vi: ft=gitconfig
