#
# User Details
#

[user]
	name = {{ .user.name }}
	email = {{ .user.email }}

#
# Credentials
#

[credential]
	helper =
{{- if and (lookPath "gp") .devcontainer.gitpod }}
	helper = {{ lookPath "gp" }} credential-helper
{{ else if or (eq .chezmoi.os "windows") (lookPath "git-credential-manager-core") }}
	helper = manager-core
{{ else if .wsl.any }}
	helper = !{{ lookPath "git.exe" | quote }} credential-manager-core
{{ else }}
	helper = store
{{ end -}}
[credential "https://github.com"]
	username = {{ .user.github }}
{{- if and (lookPath "gh") (not .devcontainer.gitpod) }}
	helper =
	helper = {{ lookPath "gh" }} auth git-credential
{{- end }}
[credential "https://dev.azure.com"]
	useHttpPath = true

#
# General Config
#

[core]
{{- if lookPath "git-editor" }}
	editor = git-editor
{{- end }}
{{- if lookPath "delta" }}
	pager = delta
{{- end }}
{{- if eq .chezmoi.os "windows" }}
	autocrlf = false
{{- end }}
[pull]
	ff = true
	rebase = true
[push]
	default = current

[init]
	defaultBranch = main
	templateDir = {{ joinPath .chezmoi.homeDir ".config/git/templates" | quote }}
[commit]
	verbose = true

[diff]
	algorithm = patience
	colorMoved = default
	mnemonicprefix = true
{{- if lookPath "nvr" }}
	tool = nvr
[merge]
	ff = only
	tool = nvr
{{- end }}
[rebase]
	autoSquash = true
	autoStash = true
	stat = true

[interactive]
{{- if lookPath "delta" }}
	diffFilter = delta --color-only
{{- end }}
	singleKey = true
{{- if lookPath "interactive-rebase-tool" }}
[sequence]
	editor = interactive-rebase-tool
{{- end }}

[status]
	short = true
	branch = true
	showStash = true
	submoduleSummary = true
[log]
	abbrevCommit = true

[format]
	pretty = onelineplus
[pretty]
	onelineplus = format:%C(yellow)%h%C(auto)%d%C(reset) %s %C(blue)(%cr)%C(reset) %C(green)<%aN>
	columns = format:%C(yellow)%h%C(magenta)% G? %C(blue)%<(12,trunc)%ar %C(green)%<(16,trunc)%aN %C(reset)%s%C(auto)%d

#
# Tools
#

{{- if lookPath "delta" }}
[delta]
	line-numbers = true
	navigate = true
{{- end}}

{{- if lookPath "nvr" }}
[difftool "nvr"]
	cmd = nvr -s -d $LOCAL $REMOTE
[mergetool "nvr"]
	cmd = nvr -s -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd J | wincmd ='
{{- end }}

{{- if lookPath "git-lfs" }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- end }}

#
# Aliases
#

[alias]
	fetch-pr = "!f() { git fetch origin \"pull/${1}/head\"; }; f"
	fixup = "!f() { SHA=$(git fzf-commit \"$1\"); git commit --fixup \"${SHA}\"; git rebase-auto \"${SHA}~\"; }; f"
	fzf-commit = "!f() { git log --no-merges --color=always | fzf --tiebreak=index --query \"$1\" | cut -d' ' -f1; }; f"
	prune = fetch --prune
	rebase-auto = -c sequence.editor=touch rebase --interactive --autosquash --autostash
	reset-perms = !git diff -p -R | grep -E '^(diff|(old|new) mode)' | git apply
	showf = show --pretty=fuller
	stash-all = stash save --include-untracked

#
# Colors
#

[color "diff"]
	context = "normal"
	meta = "blue"
	frag = "magenta"
	func = "black"
	commit = "yellow"
	old = "red"
	new = "green"
	whitespace = "yellow reverse"
[color "diff-highlight"]
	oldNormal = "red"
	oldHighlight = "red reverse"
	newNormal = "green"
	newHighlight = "green reverse"

# vi: ft=gitconfig.chezmoitmpl
