{{- if lookPath "nodenv" -}}
#!/bin/sh -e

export NPM_CONFIG_USERCONFIG="${NPM_CONFIG_USERCONFIG:-${XDG_CONFIG_HOME:-$HOME/.config}/npm/npmrc}"
export NPM_CONFIG_CACHE="${NPM_CONFIG_CACHE:-${XDG_CACHE_HOME:-$HOME/.cache}/npm}"
export NODENV_ROOT="${NODENV_ROOT:-.}"
export PATH="$NODENV_ROOT/shims:$NODENV_ROOT/bin:$PATH"

NODEJS_VERSION=$(curl -sS https://nodejs.org/dist/index.tab | awk -F '\t' 'FNR > 1 { if ($10 != "-") { print $1 } }' | {{ template "latestversion.sh" }})
if ! nodenv versions --bare | grep -Fxq "$NODEJS_VERSION"; then
  echo "Installing Node.js $NODEJS_VERSION..."
  NODENV_VERSION=system nodenv install -s "$NODEJS_VERSION"
  nodenv global "$NODEJS_VERSION"
fi

# run_onchange hash: {{ output "nodenv" "install" "-l" | sha256sum }}
# vi: ft=sh
{{- end -}}
