#!/bin/sh

echo "Bootstrapping nodenv..."
test -d ".git" || git clone https://github.com/nodenv/nodenv .
test -d "plugins/node-build/.git" || git clone https://github.com/nodenv/node-build plugins/node-build
test -d "plugins/nodenv-default-packages/.git" || git clone https://github.com/nodenv/nodenv-default-packages plugins/nodenv-default-packages
test -d "plugins/nodenv-package-rehash/.git" || git clone https://github.com/nodenv/nodenv-package-rehash plugins/nodenv-package-rehash
{{ template "xenv_ext.sh" }}

# vi: ft=sh
