function fish_color
  set -g $argv[1] $argv[2..-1]
  set -g -a fish_colors $argv[1]
end

# syntax highlighting
fish_color fish_color_normal '{{ .nord.nord4 }}'
fish_color fish_color_command '{{ .nord.nord7 }}'
fish_color fish_color_keyword {'{ .nord.nord9 }'}
fish_color fish_color_quote '{{ .nord.nord14 }}'
fish_color fish_color_redirection '{{ .nord.nord15 }}'
fish_color fish_color_end '{{ .nord.nord8 }}'
fish_color fish_color_error '{{ .nord.nord13 }}'
fish_color fish_color_param '{{ .nord.nord6 }}'
fish_color fish_color_option '{{ .nord.nord10 }}'
fish_color fish_color_comment '{{ .nord.nord2 }}'
fish_color fish_color_match --background '{{ .nord.nord8 }}'
fish_color fish_color_selection '{{ .nord.nord5 }}' --bold --background '{{ .nord.nord2 }}'
fish_color fish_color_search_match nord13 --background '{{ .nord.nord2 }}'
fish_color fish_color_history_current --bold
fish_color fish_color_operator '{{ .nord.nord8 }}'
fish_color fish_color_escape '{{ .nord.nord8 }}'
fish_color fish_color_valid_path --underline
fish_color fish_color_autosuggestion '{{ .nord.nord3 }}'
fish_color fish_color_cancel -r
fish_color fish_pager_color_completion '{{ .nord.nord4 }}'
fish_color fish_pager_color_prefix --bold --underline
fish_color fish_pager_color_description '{{ .nord.nord13 }}'
fish_color fish_pager_color_progress '{{ .nord.nord6 }}' --background '{{ .nord.nord8 }}'
fish_color fish_pager_color_selected_background --background '{{ .nord.nord2 }}'

# manpages
fish_color man_color_blink '{{ .nord.nord11 }}' --underline
fish_color man_color_bold '{{ .nord.nord10 }}'
fish_color man_color_standout --reverse
fish_color man_color_underline '{{ .nord.nord7 }}' --underline

functions -e fish_color

# fzf
set -x FZF_DEFAULT_OPTS $FZF_DEFAULT_OPTS_BASE \
  --color=fg:'{{ .nord.nord5 }}',bg:'{{ .nord.nord0 }}',hl:'{{ .nord.nord9 }}' \
  --color=fg+:'{{ .nord.nord5 }}',bg+:'{{ .nord.nord1 }}',hl+:'{{ .nord.nord9 }}' \
  --color=info:'{{ .nord.nord13 }}',prompt:'{{ .nord.nord11 }}',pointer:'{{ .nord.nord15 }}' \
  --color=marker:'{{ .nord.nord14 }}',spinner:'{{ .nord.nord15 }}',header:'{{ .nord.nord14 }}'

# ls/exa colors
if not set -q LS_COLORS; and test -f $XDG_DATA_HOME/vivid.dircolors
  read -x LS_COLORS < $XDG_DATA_HOME/vivid.dircolors
end
set -x EXA_COLORS 'uu=35:gu=35:un=33:gn=33'

#
# terminal theme
#

status is-interactive; or exit
status is-login; or test $SHLVL -eq 1; or exit

# OSC (ESC ]) DATA ST (ESC \)
function osc -a data
    printf '\e]%s\e\\' $data
end

# iterm2 color names (in index order)
set -l term_palette \
  black red green yellow blue magenta cyan white \
  br_black br_red br_green br_yellow br_blue br_magenta br_cyan br_white

# iterm2 special color names
set -l term_special \
   fg bg bold link selbg selfg curbg curfg underline tab
# osc commands (corresponding to the above list)
set -l term_special_osc \
   10 11 '5;0' '' 17 19 12 '' '5;1' 708

function term_color -V term_palette -V term_special -V term_special_osc -a color_name hex_color
  if set color_index (contains -i $color_name $term_palette)
    set color_index (math $color_index - 1)
    set osc printf '%i;%i' 4 $color_index
  else if set osc_index (contains -i $color_name $term_special)
    set osc $term_special_osc[$osc_index]
  end

  if test $TERM = 'linux'; and set -q color_index
    osc (printf 'P%x%s' $color_index (string sub -s 2 $hex_color))
  else if is_iterm
    osc (printf '1337;SetColors=%s=%s' $color_name (string sub -s 2 $hex_color))
  else if test -n "$osc"
    osc (printf '%s;%s' $osc $hex_color)
  end
end

# 16-color palette
term_color black      '{{ .nord.nord1 }}'
term_color red        '{{ .nord.nord11 }}'
term_color green      '{{ .nord.nord14 }}'
term_color yellow     '{{ .nord.nord13 }}'
term_color blue       '{{ .nord.nord9 }}'
term_color magenta    '{{ .nord.nord15 }}'
term_color cyan       '{{ .nord.nord8 }}'
term_color white      '{{ .nord.nord5 }}'
term_color br_black   '{{ .nord.nord3 }}'
term_color br_red     '{{ .nord.nord11 }}'
term_color br_green   '{{ .nord.nord14 }}'
term_color br_yellow  '{{ .nord.nord13 }}'
term_color br_blue    '{{ .nord.nord9 }}'
term_color br_magenta '{{ .nord.nord15 }}'
term_color br_cyan    '{{ .nord.nord7 }}'
term_color br_white   '{{ .nord.nord6 }}'
# special colors
term_color fg         '{{ .nord.nord4 }}'
term_color bg         '{{ .nord.nord0 }}'
term_color bold       '{{ .nord.nord4 }}'
term_color link       '{{ .nord.nord4 }}'
term_color selbg      '{{ .nord.nord2 }}'
term_color selfg      '{{ .nord.nord4 }}'
term_color curbg      '{{ .nord.nord4 }}'
term_color curfg      '{{ .nord.nord0 }}'
term_color underline  '{{ .nord.nord4 }}'
term_color tab        '{{ .nord.nord0 }}'

# clean up
functions -e osc term_color

# vi: ft=fish
