{{- $hash := include .chezmoi.sourceFile | sha256sum -}}

status is-interactive; or exit

if not set -q fish_abbr_hash; or test $fish_abbr_hash != {{ $hash }}
  # Reset existing abbreviations...
  abbr -e (set -U | string replace -rf '^_fish_abbr_(\S+) .*' '$1')

  set -l chezmoi_update 'chezmoi update --init'
  if string match -e $HOME {{ .chezmoi.executable }}
    set chezmoi_update "$chezmoi_update; and chezmoi upgrade" # self-update unmanaged chezmoi
  end

  set -l update_command true
  if is_macos
    set update_command 'brew upgrade'
  else if is_freebsd
    set update_command 'sudo pkg upgrade'
  else if command -q pacman
    set update_command 'paru; and sudo pacman -Fy'
  end

  abbr -a -- up "$update_command; and $chezmoi_update"

  # chezmoi
  abbr -a -- chez 'chezmoi'
  abbr -a -- cad 'chezmoi add'
  abbr -a -- cap 'chezmoi apply --init'
  abbr -a -- ced 'chezmoi edit'
  abbr -a -- cup $chezmoi_update

  # clipboard-provider
  abbr -a -- clipc 'clipboard-provider copy'
  abbr -a -- clipp 'clipboard-provider paste'

  # fisher
  abbr -a -- fad 'fisher install'
  abbr -a -- fls 'fisher list'
  abbr -a -- frm 'fisher remove'
  abbr -a -- fup 'fisher update'

  # git
  abbr -a -- gad 'git add'
  abbr -a -- gbr 'git branch'
  abbr -a -- gco 'git commit'
  abbr -a -- gcm 'git commit -m'
  abbr -a -- gfe 'git fetch'
  abbr -a -- gin 'git init'
  abbr -a -- gpl 'git pull'
  abbr -a -- gpu 'git push'
  abbr -a -- gre 'git rebase'
  abbr -a -- grm 'git rm'
  abbr -a -- gsw 'git switch'

  # gh
  abbr -a -- gpc 'gh pr create'
  abbr -a -- grc 'gh repo clone'

  # gpg
  abbr -a -- gpgt 'set -x GPG_TTY (tty); gpg-connect-agent UPDATESTARTUPTTY /bye'

  # ls/exa
  abbr -a -- ll 'ls -lh'
  abbr -a -- la 'ls -lah'
  abbr -a -- lt 'ls -lhTL2'

  # tmux
  abbr -a -- tdp 'tmux display-message -p'
  abbr -a -- tso 'tmux source-file'

  # zoxide
  abbr -a -- zrm 'zoxide remove'

  set -U fish_abbr_hash {{ $hash }}
end
