{{- if .wsl.any -}}

{{- range $alias, $command := .wsl.aliases }}
if {{ lookPath $alias | not }}{{/* do not alias on top of installed commands */}}
  function {{ $alias }} -d "wsl wrapper for {{ $command }}" -w {{ $command | quote }}
    {{ $command }} $argv
  end
end
{{- end }}

{{- end -}}
