#!/usr/bin/env fish

echo "Updating fish abbrs..."

abbr -e (set -U | string replace -rf '^_fish_abbr_(\S+) .*' '$1')

set -l chezmoi_update 'chezmoi update --init'
set -l update_command false

if is_macos
  set update_command 'brew upgrade'
else if is_freebsd
  set update_command 'sudo pkg upgrade'
else if command -q paru
  set update_command 'paru'
else if command -q apt
  set update_command 'sudo sh -c "apt update && apt full-upgrade --auto-remove"'
else if command -q dnf
  set update_command 'sudo dnf upgrade --refresh'
end

abbr -a -- up "$update_command; and $chezmoi_update"

# chezmoi
abbr -a -- chez 'chezmoi'
abbr -a -- cad 'chezmoi add'
abbr -a -- cap 'chezmoi apply'
abbr -a -- ced 'chezmoi edit'
abbr -a -- cup $chezmoi_update

# clipboard-provider
abbr -a -- clipc 'clipboard-provider copy'
abbr -a -- clipp 'clipboard-provider paste'

# fisher
abbr -a -- fad 'fisher install'
abbr -a -- fls 'fisher list'
abbr -a -- frm 'fisher remove'
abbr -a -- fup 'fisher update'

# git
abbr -a -- gad 'git add'
abbr -a -- gbr 'git branch'
abbr -a -- gco 'git commit'
abbr -a -- gcm 'git commit -m'
abbr -a -- gfe 'git fetch'
abbr -a -- gin 'git init'
abbr -a -- gpl 'git pull'
abbr -a -- gpu 'git push'
abbr -a -- gre 'git rebase'
abbr -a -- grm 'git rm'
abbr -a -- gsw 'git switch'

# gh
abbr -a -- gpc 'gh pr create'
abbr -a -- grc 'gh repo clone'

# gpg
abbr -a -- gpgt 'set -x GPG_TTY (tty); gpg-connect-agent UPDATESTARTUPTTY /bye'

# ls/exa
abbr -a -- ll 'ls -lh'
abbr -a -- la 'ls -lah'
abbr -a -- lt 'ls -lhTL2'

# tmux
abbr -a -- tdp 'tmux display-message -p'
abbr -a -- tso 'tmux source-file'

# zoxide
abbr -a -- zrm 'zoxide remove'

# vi: ft=fish
