{{ range .packages.macos.taps | sortAlpha | uniq -}}
tap {{ quote . }}
{{ end -}}
{{ range (concat .packages.macos.formulae (.packages.macos.unofficial.formulae | default list)) | sortAlpha | uniq -}}
brew {{ quote . }}
{{ end -}}
{{ range (concat .packages.macos.casks (.packages.macos.unofficial.casks | default list)) | sortAlpha | uniq -}}
cask {{ quote . }}
{{ end -}}
{{ range .packages.macos.app_store -}}
mas {{ quote .name }}, id: {{ .id }}
{{ end -}}
