{
  "trustedcasks": [
{{- range $i, $c := .packages.macos.unofficial.casks }}
{{- if $i }},{{ end }}
    {{ quote $c }}
{{- end }}
  ],
  "trustedformulae": [
{{- range $i, $f := .packages.macos.unofficial.formulae }}
{{- if $i }},{{ end }}
    {{ quote $f }}
{{- end }}
  ],
  "trustedcommands": [
{{- range $i, $c := .packages.macos.unofficial.commands }}
{{- if $i }},{{ end }}
    {{ quote $c }}
{{- end }}
  ]
}
