[Unit]
Description=Simple but Powerful Screenshots
Documentation=https://github.com/lupoDharkael/flameshot

[Service]
ExecStart=/usr/bin/flameshot

[Install]
WantedBy=x11.target
