{{ range .packages.taps | sortAlpha | uniq -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.formulae | sortAlpha | uniq -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.casks | sortAlpha | uniq -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.app_store -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
