#!/bin/sh

export PIPX_HOME="${PIPX_HOME:-${XDG_DATA_HOME:-$HOME/.local/share}/pipx}"
export PIPX_BIN_DIR="${PIPX_BIN_DIR:-${PIPX_HOME}/bin}"
export PATH="$PIPX_BIN_DIR:$PATH"

for spec in black flake8 mypy pip-run pip-tools poetry pylint 'python-lsp-server[all]' shiv twine; do
  tool=$(echo "$spec" | grep -o '^[^[]*')
  test ! -d "$PIPX_HOME/venvs/$tool" || continue

  echo "Installing $tool..."
  pipx install "$spec"
done

# vi: ft=sh
