{{- $infocmp := expandenv "$HOMEBREW_PREFIX/opt/ncurses/bin/infocmp" -}}
{{- if stat $infocmp -}}
#!/bin/sh -e

{{- range $term := list "alacritty" "iterm2" }}
if ! /usr/bin/infocmp {{ quote $term }} >/dev/null 2>&1; then
  echo "Backporting brewed {{ $term }} terminfo..."
  {{ quote $infocmp }} -x {{ quote $term }} | /usr/bin/tic -o . -x -

  # run_onchange hash: {{ output $infocmp $term | sha256sum }}
fi
{{- end }}
{{- end -}}
