# Define paths.
binpath: /usr/bin
keyfile: /root/.tarsnap/key
cachedir: /root/.tarsnap/cache

# Don't cross filesystems, checkpoint every GB.
backup_args: '--one-file-system --checkpoint-bytes 1G'
# Kill after an hour.
max_runtime: 3600

schedule:
  - yearly:
    - period: 31557600
    - always_keep: 10
    - before: '1300'
  - monthly:
    - period: 2592000
    - always_keep: 12
    - before: '1300'
    - implies: yearly
  - weekly:
    - period: 604800
    - always_keep: 8
    - after: '0900'
    - before: '1300'
    - implies: monthly
  - daily:
    - period: 86400
    - always_keep: 14
    - after: '0900'
    - before: '1300'
    - implies: weekly
  - hourly:
    - period: 3600
    - always_keep: 24
    - implies: daily
  - realtime:
    - period: 900
    - always_keep: 24
    - implies: hourly

backups:
  - home:
    - schedule: daily
    - path: [/root, /home]
    - exclude: [/root/.tarsnap]
  - etc:
    - schedule: realtime
    - path: [/etc]
