env:
  TERM: alacritty

{{ if eq .chezmoi.os "windows" }}
shell:
  program: wsl.exe
  args: ['~']
{{ end }}

# alt_send_esc: false

window:
  padding:
    x: 2
    y: 2
  dynamic_padding: true

font:
  normal:
    family: Source Code Pro
    style: Regular
  bold:
    family: Source Code Pro
    style: Bold
  italic:
    family: Source Code Pro
    style: Italic
  bold_italic:
    family: Source Code Pro
    style: Bold Italic
  {{ if eq .chezmoi.os "darwin" }}
  size: 12.0
  {{ else }}
  size: 10.0
  {{ end }}

key_bindings:
  - { key: L,         mods: Control|Alt, chars: "\x1b\x0c"          }
  - { key: S,         mods: Control|Alt, chars: "\x1b\x13"          }
  - { key: P,         mods: Control|Alt, chars: "\x1b\x10"          }
