[env]
TERM = 'alacritty-direct'
COLORTERM = 'truecolor'

{{ if eq .chezmoi.os "windows" -}}
[terminal.shell]
program = 'wsl.exe'
args = ['~']

{{ end -}}
[bell.command]
{{ if eq .chezmoi.os "darwin" -}}
program = 'osascript'
args = ['-e', 'beep']
{{- else if eq .chezmoi.os "windows" -}}
program = "pwsh"
args = "[System.Media.SystemSounds]::Hand.Play()"
{{- else -}}
program = "xkbbell"
{{- end }}

[window]
option_as_alt = 'Both'
dynamic_padding = true

[window.padding]
x = 2
y = 2

[font]
size = 10

[font.normal]
family = 'Source Code Pro'
style = 'Regular'

[font.bold]
family = 'Source Code Pro'
style = 'Bold'

[font.italic]
family = 'Source Code Pro'
style = 'Italic'

[font.bold_italic]
family = 'Source Code Pro'
style = 'Bold Italic'

[[keyboard.bindings]]
key = "Return"
mods = "Shift"
chars = "\u001B\r"
