{{ if eq .chezmoi.os "windows" -}}
[terminal.shell]
  program = 'wsl.exe'
  args = ['~']

{{ end -}}
[bell]
{{ if eq .chezmoi.os "darwin" -}}
command = { program = "afplay", args = ["/System/Library/Sounds/Ping.aiff"] }
{{- else if and (eq .chezmoi.os "linux") (stat "/usr/share/sounds/freedesktop/stereo/dialog-information.oga") -}}
command = { program = "paplay", args = ["/usr/share/sounds/freedesktop/stereo/dialog-information.oga"] }
{{- end }}

[window]
dynamic_padding = true
option_as_alt = 'Both'
padding = { x = 2, y = 2 }

[font]
size = 12.5

[font.normal]
family = 'Source Code Pro'
style = 'Regular'

[font.bold]
family = 'Source Code Pro'
style = 'Bold'

[font.italic]
family = 'Source Code Pro'
style = 'Italic'

[font.bold_italic]
family = 'Source Code Pro'
style = 'Bold Italic'

[[keyboard.bindings]]
key = "Return"
mods = "Shift"
chars = "\u001B\r"
