[Unit]
Description = X Compositor
Requires    = xorg.target
After       = xorg.target

[Service]
Type        = simple
Restart     = always
RestartSec  = 10
ExecStart   = /usr/bin/compton -cCG

[Install]
WantedBy = user-programs.target
