[Unit]
Description = Device Mounting Daemon

[Service]
Type            = simple
Restart         = always
RestartSec      = 10
ExecStart       = /usr/bin/devmon --sync --no-gui

[Install]
WantedBy = user-programs.target
