[Unit]
Description = Lightweight Notification Daemon
Requires    = xorg.target
After       = xorg.target

[Service]
Type        = simple
Restart     = always
RestartSec  = 10
ExecStart   = /usr/bin/dunst

[Install]
WantedBy = user-programs.target
