[Unit]
Description=Input Event Daemon
Documentation=man:evrouter(1)

[Service]
ExecStart=/usr/bin/evrouter -f -c %h/.evrouterrc /dev/input/powermate
ExecStopPost=%h/bin/evroutercleanup
Restart=always

[Install]
WantedBy=default.target
