[Unit]
Description=Input Event Daemon
Documentation=man:evrouter(1)

[Service]
ExecStart=/usr/bin/evrouter -f -c %h/.evrouterrc /dev/input/by-id/usb-Griffin_Technology_Inc._Griffin_PowerMate-event-if00
ExecStopPost=%h/bin/evroutercleanup
Restart=always

[Install]
WantedBy=default.target
