[Unit]
Description = i3 Window Manager
Requires    = dbus.service xorg.target
Wants       = sound.target
After       = dbus.service xorg.target sound.target

[Service]
Type        = simple
Restart     = always
RestartSec  = 10
ExecStart   = /usr/bin/i3
ExecReload  = /usr/bin/i3-msg reload

[Install]
Alias    = window-manager.service
WantedBy = window-manager.target
