[Unit]
Description = i3 Screen Locker
Requires    = xorg.service
After       = xorg.service

[Service]
Type            = forking
RemainAfterExit = true
ExecStart       = /usr/bin/i3lock -d

[Install]
Alias    = screen-locker.service
WantedBy = window-manger.target
