[Unit]
Description = Music Player Daemon
Requires    = sound.target
After       = sound.target

[Service]
Type          = forking
Restart       = always
RestartSec    = 10
PIDFile       = %h/.mpd/mpd.pid
ExecStartPre  = /bin/mkdir -p /tmp/mpd
ExecStart     = /usr/bin/mpd
ExecStopPost = /bin/rm -rf /tmp/mpd

[Install]
WantedBy = user-programs.target
