[Unit]
Description=Music Player Daemon

[Socket]
Backlog=5
KeepAlive=true
PassCredentials=true
ListenStream=6600
ListenStream=%h/.mpd/mpd.sock

[Install]
WantedBy=sockets.target
