[Unit]
Description=Terminal Multiplexer
Documentation=man:tmux(1)

[Service]
#Type=forking
Type=oneshot
RemainAfterExit=yes
#ExecStart=/usr/bin/tmux new-session -d -s %H
ExecStop=/usr/bin/tmux kill-session -t %H
#Restart=always

[Install]
WantedBy=default.target
