[Unit]
Description = Idle Cursor Hider
Requires    = xorg.target
After       = xorg.target

[Service]
Type        = simple
Restart     = always
RestartSec  = 10
ExecStart   = /usr/bin/unclutter

[Install]
WantedBy = user-programs.target
