[Unit]
Description = X Keybinding Tool
Requires    = xorg.target
After       = xorg.target

[Service]
Type        = simple
Restart     = always
RestartSec  = 10
ExecStart   = /usr/bin/xbindkeys --nodaemon
ExecReload  = /bin/kill -HUB $MAINPID

[Install]
WantedBy = user-programs.target
