[Unit]
Description = X Server
AllowIsolate = true

[Service]
Type       = notify
Restart    = always
RestartSec = 10
ExecStart  = /usr/bin/xorg-launch-helper :0 -nolisten tcp -noreset vt1

[Install]
RequiredBy = xorg.target
