[Unit]
Description = X Root Window Settings
Requires    = xorg.target
After       = xorg.target

[Service]
Type        = oneshot
ExecStart   = /usr/bin/xsetroot -cursor_name left_ptr

[Install]
WantedBy = user-programs.target
