#!/bin/sh -eu

command -v nvim >/dev/null || exit 0
 
echo "Installing/updating neovim packages..."
nvim --headless +PackUpdate! +w +wqall

# run_onchange hash: {{ include "private_dot_config/nvim/nvim-pack-lock.json" | sha256sum }}
