{{- if and (lookPath "nvim") (lookPath "nvr") -}}
function nvim -d 'tmux-enabled nvim wrapper'
  # determine the server address. no need to re-do this work if it's already set.
  # right now we only do this for tmux. we run one session per window.
  if is_tmux; and not set -qx NVIM_LISTEN_ADDRESS
    mkdir -p $XDG_RUNTIME_DIR/nvim-tmux
    set -x NVIM_LISTEN_ADDRESS $XDG_RUNTIME_DIR/nvim-tmux/(tmux display-message -p '#{window_id}').sock
  end

  # if we have an address for a remote instance, start driving it
  if set -q NVIM_LISTEN_ADDRESS; and not fish_is_root_user
    # make sure the address (socket) is still live
    if test -S $NVIM_LISTEN_ADDRESS; and not socat -u OPEN:/dev/null UNIX-CONNECT:$NVIM_LISTEN_ADDRESS &>/dev/null
      rm -f $NVIM_LISTEN_ADDRESS
    end

    # if we're in tmux, make sure the nvim instance is alive, or start a new one.
    # then, focus that instance.
    if is_tmux
      set editor_pane (tmux list-panes -F '#{pane_id} #{pane_current_command}' | string match -r '^(%\d+) nvim')[2]
      or set editor_pane (tmux split-window -PF '#{pane_id}' -fhb -d -c $PWD -e NVIM_TMUX=(count $argv) -- nvim --listen $NVIM_LISTEN_ADDRESS)
      tmux select-pane -t $editor_pane
    end

    # if we're asked to wait, make sure nvr knows to block.
    if set -q nvim_wait
      set -p argv --remote-wait-silent
    end

    # this is a bit tricky. if we're not in tmux, this will have nvr start its own instance (instead of $editor_pane above).
    # if we are in tmux and we have arguments, have nvr forward them on to the above instance/pane.
    if not is_tmux; or test (count $argv) -gt 0
      nvr -s $argv
      set editor_status $status
    end

    # finally, switch back to the original pane if the editor finished waiting and we're in tmux.
    if is_tmux; and set -q nvim_wait
      tmux select-pane -t $TMUX_PANE
    end

    # return the saved status from above. this may be empty, which is Synonymous with success
    return $editor_status
  else
    # no remote instance means we do nothing.
    command nvim $argv
  end
end
{{- end -}}
