#!/bin/sh

export GEM_SPEC_CACHE="${GEM_SPEC_CACHE:-${XDG_CACHE_HOME:-~/.cache}/gem}"
export RBENV_ROOT="${RBENV_ROOT:-.}"
export PATH="$RBENV_ROOT/shims:$RBENV_ROOT/bin:$PATH"

RUBY_VERSION=$(rbenv install -L | {{ template "latestversion.sh" }})
if ! rbenv versions --bare | grep -Fxq "$RUBY_VERSION"; then
  echo "Installing Ruby $RUBY_VERSION..."
  rbenv install -s "$RUBY_VERSION"
  rbenv global "$RUBY_VERSION"
fi

# run_once hash: "{{ output (expandenv "$RBENV_ROOT/bin/rbenv") "install" "-L" | sha256sum }}"
# pwd: {{ output "pwd" }}
# vi: ft=sh
