{{- if lookPath "exa" -}}
{{- $git := output "exa" "-v" | contains "+git" -}}
status is-interactive; or exit

function ls -w exa
  command exa --classify {{ $git | ternary "--git " "" }}--group $argv
end
{{- end -}}
