#!/bin/sh

set -e

# shellcheck source=lib.sh
. "{{ .chezmoi.sourceDir }}/dot_local/zbootstrap/lib.sh"

section "Cleanup"

REMOVED_FILES="$XDG_CONFIG_HOME/fish/conf.d/gpg.fish"

for file in $REMOVED_FILES; do
  if test -f "$file"; then
    important "Removing $file..."
    rm -i "$file"
  fi
done

# vi: ft=sh
