#!/bin/sh

set -e

# shellcheck source=lib.sh
. "{{ .chezmoi.sourceDir }}/dot_local/zbootstrap/lib.sh"

section "Node.js"

git_sync https://github.com/nodenv/nodenv "$NODENV_ROOT"
git_sync https://github.com/nodenv/node-build "$NODENV_ROOT/plugins/node-build"
git_sync https://github.com/nodenv/nodenv-package-rehash "$NODENV_ROOT/plugins/nodenv-package-rehash"
git_sync https://github.com/nodenv/nodenv-default-packages "$NODENV_ROOT/plugins/nodenv-default-packages"

if ! $MAKE -C "$NODENV_ROOT/src" -q; then
  sh -c "cd '$NODENV_ROOT'; ./src/configure"
  $MAKE -C "$NODENV_ROOT/src"
fi

NODEJS_VERSION=$(nodenv install -l | selectversion)
if ! nodenv versions --bare | grep -Fxq "$NODEJS_VERSION"; then
  important "Installing Node.js $NODEJS_VERSION..."
  NODENV_VERSION=system nodenv install -s "$NODEJS_VERSION"
  important "Activating Node.js $NODEJS_VERSION..."
  nodenv global "$NODEJS_VERSION"
fi

important "Updating npm packages..."
for node in $(nodenv versions --bare); do
  for target in $(NODENV_VERSION=$node npm -g outdated --parseable --depth=0 | cut -d: -f3); do
    info "Updating $target ($node)..."
    NODENV_VERSION=$node npm update -g "$target"
  done
done

# vi: ft=sh
