#!/bin/sh

set -e

# shellcheck source=lib.sh
. "{{ .chezmoi.sourceDir }}/dot_local/zbootstrap/lib.sh"

case $(uname) in
  Linux)
    PKGS="arch-packages.txt"
    INSTALL_CMD="yay -Sy --noconfirm"
    INSTALLED_CMD=$(pacman -Qq)
    UPDATE_CMD="yay -Syu --noconfirm"
    PROVIDES_CMD="yay -Fy"
    ;;
  FreeBSD)
    [ "$(id -u)" -eq 0 ] || exec su root -c "sh $0"

    PKGS="freebsd-ports.txt"
    INSTALL_CMD="synth install"
    INSTALL_FILTER="cut -d@ -f1"
    INSTALLED_CMD=$(pkg query '%o')
    UPDATE_CMD="synth upgrade-system"
    PROVIDES_CMD="pkg provides -u"
    ;;
  Darwin)
    PKGS="homebrew-formulae.txt"
    INSTALL_CMD="brew install"
    INSTALL_FILTER="sed 's#.*/##'"
    INSTALLED_CMD=$(brew ls -1)
    UPDATE_CMD="brew update; brew upgrade"
    ;;
  *)
    error "Unsupported operating system."
    ;;
esac

section "System Packages"

while IFS= read -r pkg; do
  if [ -z "$pkg" ] || printf '%s' "$pkg" | grep -Eq '^#'; then
    continue
  fi
  if [ -n "$INSTALL_FILTER" ]; then
    pkg=$(printf '%s' "$pkg" | eval "$INSTALL_FILTER")
  fi
  if ! printf '%s' "$INSTALLED_CMD" | grep -Fxq "$(printf '%s' "$pkg")"; then
    INSTALL="$INSTALL$pkg "
  fi
done <"{{ .chezmoi.sourceDir }}/dot_local/zbootstrap/$PKGS"

case $(uname) in
  Linux)
    # bootstrap yay
    if ! command -v yay >/dev/null; then
      (
        important "Bootstrapping yay..."

        YAY="${TMPDIR:-/tmp}/yay"
        trap 'rm -rf $YAY' EXIT

        git clone https://aur.archlinux.org/yay.git "$YAY"
        cd "$YAY"
        makepkg -si --noconfirm
      )
    fi

    # pass through language managers
    export GOENV_VERSION=system NODENV_VERSION=system PYENV_VERSION=system RBENV_VERSION=system

    # install wslu if needed
    if uname -r | grep -Fq Microsoft; then
      INSTALL="$INSTALL wslu"
    fi
    ;;
  FreeBSD)
    important "Fetching latest base..."
    svnlite up /usr/src

    important "Fetching latest ports..."
    svnlite up /usr/ports

    if ! grep -Eq '^CONSERVATIVE_UPGRADE' /usr/local/etc/pkg.conf; then
      important "Configuring pkg to prefer Synth repo..."
      printf '\n%s' 'CONSERVATIVE_UPGRADE: false;' >> /usr/local/etc/pkg.conf
    fi
    ;;
esac

if [ -n "$INSTALL" ]; then
  important "Installing system packages with ${INSTALL_CMD%% *}..."

  info "$INSTALL_CMD $INSTALL"
  $INSTALL_CMD "$INSTALL"
fi

important "Updating system packages with ${UPDATE_CMD%% *}..."
$UPDATE_CMD

case $(uname) in
  FreeBSD)
    if ! grep -Eq '^PKG_ENABLE_PLUGINS' /usr/local/etc/pkg.conf; then
      important "Enabling pkg-provides..."
      sed -e '/PKG_PLUGINS_DIR/s/^#//' -e '/PKG_ENABLE_PLUGINS/s/^#//' -e 's/#PLUGINS \[/PLUGINS [ provides ]/' -i '' /usr/local/etc/pkg.conf
    fi
    ;;
  Darwin)
    if ! brew tap | grep -Fxq 'homebrew/command-not-found'; then
      important "Enabling command-not-found..."
      brew tap homebrew/command-not-found
    fi
    ;;
esac

if [ -n "$PROVIDES_CMD" ]; then
  important "Updating provides database..."
  $PROVIDES_CMD
fi

# vi: ft=sh
