#!/bin/sh

set -e

# shellcheck source=lib.sh
. "{{ .chezmoi.sourceDir }}/dot_local/zbootstrap/lib.sh"

section "Python"

git_sync https://github.com/pyenv/pyenv "$PYENV_ROOT"
git_sync https://github.com/pyenv/pyenv-virtualenv "$PYENV_ROOT/plugins/pyenv-virtualenv"

if ! make -C "$PYENV_ROOT/src" -q; then
  sh -c "cd '$PYENV_ROOT'; ./src/configure"
  make -C "$PYENV_ROOT/src"
fi

PYTHON_VERSION=$(pyenv install -l | selectversion)
if ! pyenv versions --bare | grep -Fxq "$PYTHON_VERSION"; then
  important "Installing Python $PYTHON_VERSION..."
  pyenv install -s "$PYTHON_VERSION"
  important "Activating Python $PYTHON_VERSION..."
  pyenv global "$PYTHON_VERSION"
fi

important "Updating pip packages..."
for python in $(pyenv versions --bare --skip-aliases); do
  for target in $(PYENV_VERSION=$python pip list --outdated --format=freeze | awk -F== '{print $1}'); do
    info "Updating $target ($python)..."
    PYENV_VERSION=$python python -m pip install -U "$target"
  done
done

important "Updating pipx packages..."
pipx upgrade-all

pipx_install "black"
pipx_install "flake8"
pipx_install "mypy"
pipx_install "pip-run"
pipx_install "pip-tools"
pipx_install "poetry"
pipx_install "pylint"
pipx_install "dephell" "dephell[full]"
pipx_install "python-language-server" "python-language-server[all]"
pipx_install "twine"

# vi: ft=sh
