#!/bin/sh

set -e

# shellcheck source=lib.sh
. "{{ .chezmoi.sourceDir }}/dot_local/zbootstrap/lib.sh"

section "Golang"

git_sync https://github.com/syndbg/goenv "$GOENV_ROOT"

if ! make -C "$GOENV_ROOT/src" -q; then
  sh -c "cd '$GOENV_ROOT'; ./src/configure"
  make -C "$GOENV_ROOT/src"
fi

GOLANG_VERSION=$(goenv install -l | selectversion)
if ! goenv versions --bare | grep -Fxq "$GOLANG_VERSION"; then
  important "Installing Golang $GOLANG_VERSION..."
  goenv install -s "$GOLANG_VERSION"
  important "Activating Golang $GOLANG_VERSION..."
  goenv global "$GOLANG_VERSION"
fi

go_get "golang.org/x/tools/gopls@latest"

# vi: ft=sh
