#!/bin/sh -e

{{if lookPath "go" }}
  {{ if not (lookPath "vim-startuptime") }}
echo "Installing vim-startuptime..."
go install "github.com/rhysd/vim-startuptime@latest"
  {{ end }}
{{ end }}

{{if lookPath "pipx" }}
  {{ if not (lookPath "nvr") }}
echo "Installing nvr..."
pipx install "neovim-remote"
  {{ end }}
  {{ if not (lookPath "vint") }}
echo "Installing vint..."
pipx install "vim-vint"
  {{ end }}
{{ end }}

# vi: ft=sh
