{{- if lookPath "pipx" -}}
#!/bin/sh -e

export PIPX_HOME="${PIPX_HOME:-${XDG_DATA_HOME:-$HOME/.local/share}/pipx}"

{{ if not (lookPath "nvr") }}
echo "Installing nvr..."
pipx install "neovim-remote"
{{ end }}
{{ if not (lookPath "vint") }}
echo "Installing vint..."
pipx install "vim-vint"
{{ end }}

# vi: ft=sh
{{- end -}}
