# pick up functions.d paths
set -p fish_function_path (realpath (status dirname)/..)/functions.d/*

# ensure tmpdir is set
set -q TMPDIR; or set -x TMPDIR /tmp

# ensure xdg paths are set
set -q XDG_CONFIG_HOME; or set -x XDG_CONFIG_HOME $HOME/.config
set -q XDG_DATA_HOME; or set -x XDG_DATA_HOME $HOME/.local/share
set -q XDG_BIN_HOME; or set -x XDG_BIN_HOME $HOME/.local/bin
set -q XDG_CACHE_HOME; or set -x XDG_CACHE_HOME $HOME/.cache

# use TMPDIR for XDG_RUNTIME_DIR on macos, and on linux as a fallback
if not set -q XDG_RUNTIME_DIR
  set -x XDG_RUNTIME_DIR "/run/user/"(id -u)
  if is_macos; or not mkdir -p -m 0700 "$XDG_RUNTIME_DIR" &>/dev/null
    set -x XDG_RUNTIME_DIR $TMPDIR
  end
end

if is_wsl
  # import necessary variables from windows
  wslenv -p APPDATA
  wslenv -p LOCALAPPDATA
  wslenv -p USERPROFILE
  wslenv TERMINAL_EMULATOR
end

{{- if eq .chezmoi.os "darwin" }}
{{   $brew := or (lookPath "/opt/homebrew/bin/brew") (lookPath "/usr/local/bin/brew") }}
# only run in root shell
status is-login; and test $SHLVL -eq 1; or exit
# include homebrew shellenv
{{   output "fish" "-c" (printf "%s shellenv" $brew) }}
# fall back to backported terminfo
set -x TERMINFO_DIRS ":$XDG_DATA_HOME/terminfo"
{{- end }}