{{- $hash := include .chezmoi.sourceFile | sha256sum -}}

function fish_repath
  set -U -e fish_user_paths fish_path_hash
  source (status current-filename)
end

if not set -q fish_path_hash; or test $fish_path_hash != {{ $hash }}
  status is-interactive; and echo 'Setting default PATH...' >&2

  if is_macos
    # homebrew
    fish_add_path -m $HOMEBREW_PREFIX/{bin,sbin}
    # homebrew overrides
    fish_add_path -m $HOMEBREW_PREFIX/opt/{curl,gnu-getopt}/bin
    # ccache (macos)
    fish_add_path -m $HOMEBREW_PREFIX/opt/ccache/libexec
    # orbstack/docker desktop
    fish_add_path -m ~/.orbstack/bin
    fish_add_path -m ~/.docker/bin
  else
    # ccache (linux)
    fish_add_path -m /usr/lib/ccache/bin
    # ccache (bsd)
    fish_add_path -m /local/libexec/ccache
  end

  # mise shims
  fish_add_path -m $XDG_DATA_HOME/mise/shims
  # rust/cargo shims
  fish_add_path -m $XDG_DATA_HOME/cargo/bin
  # dotfiles/local
  fish_add_path -m $HOME/.local/bin $XDG_BIN_HOME

  # cleanup
  set -U fish_path_hash {{ $hash }}
end
