{{- $hash := include .chezmoi.sourceFile | sha256sum -}}

function fish_repath
  set -U -e fish_user_paths fish_path_hash
  source (status current-filename)
end

if not set -q fish_path_hash; or test $fish_path_hash != {{ $hash }}
  status is-interactive; and echo 'Setting default PATH...' >&2

  if is_macos
    # homebrew
    fish_add_path -m $HOMEBREW_PREFIX/{bin,sbin}
    # homebrew overrides
    fish_add_path -m $HOMEBREW_PREFIX/opt/{curl,gnu-getopt,sqlite,whois}/bin
    # ccache (macos)
    fish_add_path -m $HOMEBREW_PREFIX/opt/ccache/libexec
    # jetbrains (macos)
    fish_add_path -m ~/Library/Application Support/JetBrains/Toolbox/scripts
    # docker desktop (and alternartives)
    fish_add_path -m ~/.{docker,orbstack}/bin
  else
    # ccache (linux/freebsd)
    fish_add_path -m /usr/lib/{ccache/bin,libexec/ccache}
    # jetbrains
    fish_add_path -m ~/.local/share/JetBrains/Toolbox/scripts
  end

  # mise shims
  fish_add_path -m $XDG_DATA_HOME/mise/shims
  # rust/cargo shims
  fish_add_path -m $XDG_DATA_HOME/cargo/bin
  # dotfiles (and system-local)
  fish_add_path -m $XDG_BIN_HOME

  # cleanup
  set -U fish_path_hash {{ $hash }}
end
