# set colors only in interactive shells
status is-interactive; or set -q __fish_force_load_default_theme; or exit

# shell colors
set -g fish_color_normal {{ quote .nord.nord4 }}
set -g fish_color_command {{ quote .nord.nord7 }}
set -g fish_color_keyword {{ quote .nord.nord9 }}
set -g fish_color_quote {{ quote .nord.nord14 }}
set -g fish_color_redirection {{ quote .nord.nord15 }}
set -g fish_color_end {{ quote .nord.nord8 }}
set -g fish_color_error {{ quote .nord.nord13 }}
set -g fish_color_param {{ quote .nord.nord6 }}
set -g fish_color_valid_path --underline --underline-color {{ quote .nord.nord3 }}
set -g fish_color_option {{ quote .nord.nord10 }}
set -g fish_color_comment {{ quote .nord.nord2 }}
set -g fish_color_selection {{ quote .nord.nord5 }} --bold --background {{ quote .nord.nord2 }}
set -g fish_color_operator {{ quote .nord.nord8 }}
set -g fish_color_escape {{ quote .nord.nord8 }}
set -g fish_color_autosuggestion {{ quote .nord.nord3 }}
set -g fish_color_cancel -r
set -g fish_color_search_match {{ quote .nord.nord13 }} --background {{ quote .nord.nord2 }}
set -g fish_color_history_current --bold

# pager colors
set -g fish_pager_color_progress {{ quote .nord.nord6 }} --background {{ quote .nord.nord3 }}
set -g fish_pager_color_background --background {{ quote .nord.nord0 }}
set -g fish_pager_color_prefix {{ quote .nord.nord3 }}
set -g fish_pager_color_completion {{ quote .nord.nord4 }}
set -g fish_pager_color_description {{ quote .nord.nord10 }}
set -g fish_pager_color_selected_background --background {{ quote .nord.nord2 }}
set -g fish_pager_color_selected_prefix {{ quote .nord.nord3 }} --underline
set -g fish_pager_color_selected_completion {{ quote .nord.nord6 }} --underline
set -g fish_pager_color_selected_description {{ quote .nord.nord7 }}

# manpage colors
set -g man_color_blink {{ quote .nord.nord15 }} --bold
set -g man_color_bold {{ quote .nord.nord9 }}
set -g man_color_standout --reverse
set -g man_color_underline {{ quote .nord.nord8 }} --underline

# fzf
set -gx FZF_DEFAULT_OPTS $FZF_DEFAULT_OPTS_BASE \
  --color=fg:{{ quote .nord.nord5 }},bg:{{ quote .nord.nord0 }},hl:{{ quote .nord.nord9 }} \
  --color=fg+:{{ quote .nord.nord5 }},bg+:{{ quote .nord.nord1 }},hl+:{{ quote .nord.nord9 }} \
  --color=info:{{ quote .nord.nord13 }},prompt:{{ quote .nord.nord11 }},pointer:{{ quote .nord.nord15 }} \
  --color=marker:{{ quote .nord.nord14 }},spinner:{{ quote .nord.nord15 }},header:{{ quote .nord.nord14 }}

# ls/eza colors
{{- if lookPath "vivid" }}
set -gx LS_COLORS {{ quote (output "vivid" "generate" "nord") }}
{{- end }}
{{- if lookPath "eza" }}
set -gx EZA_COLORS 'uu=35:gu=35:un=33:gn=33'
{{- end }}

#
# terminal theme
#

# set the terminal palette only in top level shells
status is-login; or test $SHLVL -eq 1; or exit

# helper to re-apply the theme from this config file
function fish_retheme
  source (status current-filename)
end

# OSC (ESC ]) DATA ST (ESC \)
#   https://ghostty.org/docs/vt/concepts/colors
#   https://ghostty.org/docs/vt/osc/4
#   https://ghostty.org/docs/vt/osc/5
#   https://ghostty.org/docs/vt/osc/1x
function osc -a data
    printf '\e]%s\e\\' $data
end

# palette color names (in index order)
set -l term_palette \
  black red green yellow blue magenta cyan white \
  br_black br_red br_green br_yellow br_blue br_magenta br_cyan br_white

# special color names
set -l term_special \
   fg bg curbg selbg selfg bold underline blink reversed italic tabfg tabbg
# osc commands (corresponding to the above list)
set -l term_special_osc \
   10 11 12 17 19 '4;256' '4;257' '4;258' '4;259' '4;260' '4;263' '4;264'

function term_color -V term_palette -V term_special -V term_special_osc -a color_name hex_color
  if set color_index (contains -i $color_name $term_palette)
    set color_index (math $color_index - 1)
    set osc (printf '%i;%i' 4 $color_index)
  else if set osc_index (contains -i $color_name $term_special)
    set osc $term_special_osc[$osc_index]
  end

  if test "$TERM" = linux; and set -q color_index
    osc (printf 'P%x%s' $color_index (string sub -s 2 $hex_color))
  else if test -n "$osc"
    osc (printf '%s;%s' $osc $hex_color)
  end
end

# special colors
term_color fg         {{ quote .nord.nord4 }}
term_color bg         {{ quote .nord.nord0 }}
term_color curbg      {{ quote .nord.nord4 }}
term_color selbg      {{ quote .nord.nord2 }}
term_color selfg      {{ quote .nord.nord4 }}
term_color bold       {{ quote .nord.nord4 }}
term_color underline  {{ quote .nord.nord4 }}
term_color blink      {{ quote .nord.nord7 }}
term_color reversed   {{ quote .nord.nord11 }}
term_color italic     {{ quote .nord.nord4 }}
term_color tabfg      {{ quote .nord.nord8 }}
term_color tabbg      {{ quote .nord.nord0 }}
# 16-color palette
term_color black      {{ quote .nord.nord1 }}
term_color red        {{ quote .nord.nord11 }}
term_color green      {{ quote .nord.nord14 }}
term_color yellow     {{ quote .nord.nord13 }}
term_color blue       {{ quote .nord.nord9 }}
term_color magenta    {{ quote .nord.nord15 }}
term_color cyan       {{ quote .nord.nord8 }}
term_color white      {{ quote .nord.nord5 }}
term_color br_black   {{ quote .nord.nord3 }}
term_color br_red     {{ quote .nord.nord11 }}
term_color br_green   {{ quote .nord.nord14 }}
term_color br_yellow  {{ quote .nord.nord13 }}
term_color br_blue    {{ quote .nord.nord9 }}
term_color br_magenta {{ quote .nord.nord15 }}
term_color br_cyan    {{ quote .nord.nord7 }}
term_color br_white   {{ quote .nord.nord6 }}

# clean up
functions -e osc term_color
