status is-interactive; or exit

# system/special
function __abbr_update
  if is_macos
    printf 'mas upgrade; and brew upgrade'
  else if is_freebsd
    printf 'sudo pkg upgrade'
  else if command -q pacman
    printf 'sudo pacman -Syu; and paru -Sua'
  end
  if command -q mise
    printf '; and mise upgrade'
  end
  if set -l chezmoi_up (__abbr_chezmoi_up)
    printf '; and chezmoi %s' $chezmoi_up
  end
end
abbr -a up --position command --function __abbr_update

# meta-syntax
function __abbr_command_s -a token
  command -s (string sub -s 2 $token)
end
abbr -a = --position anywhere --regex '=\w+' --function __abbr_command_s
function __abbr_common_dir -a token
  if set -l parts (string match -rg '^@(\w+)(.*)?' $token)
    switch $parts[1]
      case bin
        printf '%s%s' $XDG_BIN_HOME $parts[2]
      case cache
        printf '%s%s' $XDG_CACHE_HOME $parts[2]
      case config
        printf '%s%s' $XDG_CONFIG_HOME $parts[2]
      case data
        printf '%s%s' $XDG_DATA_HOME $parts[2]
      case state
        printf '%s%s' $XDG_STATE_HOME $parts[2]
      case runtime
        printf '%s%s' $XDG_RUNTIME_HOME $parts[2]
      case chezmoi
        printf '%s%s' (chezmoi source-path) $parts[2]
      case '*'
        return 1
    end
  else
    return 1
  end
end
abbr -a @ --position anywhere --regex '@\S+' --function __abbr_common_dir

# aur
abbr -a aur ssh aur@aur.archlinux.org

# chezmoi
abbr -a chez chezmoi
abbr -a --command=chezmoi{,.exe} ad add
abbr -a --command=chezmoi{,.exe} ap apply --init
abbr -a --command=chezmoi{,.exe} di diff
abbr -a --command=chezmoi{,.exe} ed edit
abbr -a --command=chezmoi{,.exe} st status
function __abbr_chezmoi_up -a exe
  printf 'update --init'

  set -l homedir $HOME
  if string match -q chezmoi.exe $exe
    set -l homedir $USERPROFILE
  end

  if string match -eq $homedir (command -a $exe)
    printf '; and %s upgrade' $exe
  end
end
abbr -a --command=chezmoi{,.exe} --function __abbr_chezmoi_up up

# clipboard-provider
abbr -a clip clipboard-provider paste
abbr -a clic clipboard-provider copy

# docker
abbr -a --command=docker spa system prune -a

# gh
abbr -a --command=gh pc pr create
abbr -a --command=gh rc repo clone

# git
abbr -a --command=git sw switch
abbr -a --command=git co checkout

# ls/eza
abbr -a ll ls -lh
abbr -a la ls -lah
abbr -a lt ls -lhTL2

# zoxide
abbr -a zrm zoxide remove

{{- if .wsl -}}
# wsl
abbr -a adb adb.exe
abbr -a chew chezmoi.exe
abbr -a cmd cmd.exe
abbr -a neovide neovide.exe --wsl
abbr -a op op.exe
abbr -a powershell powershell.exe
abbr -a smerge smerge.exe
abbr -a subl subl.exe
abbr -a tailscale tailscale.exe
abbr -a usbipd usbipd.exe
abbr -a winget winget.exe
abbr -a wsl wsl.exe
abbr -a wslc wslc.exe
abbr -a wt wt.exe
{{- end -}}
