{{- if lookPath "mise" -}}
# defer mise hook-env to the fish_preexec event
set -g mise_fish_mode eval_after_arrow
# prevent vendor-provided, implicit activation of mise
set -gx MISE_FISH_AUTO_ACTIVATE 0

# generate the env cache key at runtime, instead of template time
if not set -q __MISE_ENV_CACHE_KEY
  set -gx __MISE_ENV_CACHE_KEY (openssl rand -base64 32)
end

# templated mise activation; unset env markers set by an activated mise
# (also set MISE_ENV_CACHE=0 to keep a cache key from becoming baked in)
{{ output "env" "-u" "__MISE_SESSION" "-u" "__MISE_DIFF" "-u" "__MISE_ORIG_PATH" "MISE_ENV_CACHE=0" "MISE_NOT_FOUND_AUTO_INSTALL=0" "mise" "activate" "fish" }}
{{- end -}}
