{{- $starship := lookPath "starship" -}}
{{- if $starship -}}
set -x STARSHIP_SHELL "fish"
set -x STARSHIP_SESSION_KEY (uuidgen)

function fish_prompt
  {{ quote $starship }} prompt --terminal-width="$COLUMNS" --status="$status" --pipestatus="$pipestatus" --cmd-duration="$CMD_DURATION" --jobs=(jobs -p)
end
function fish_right_prompt
  {{ quote $starship }} prompt --right --terminal-width="$COLUMNS" --status="$status" --pipestatus="$pipestatus" --cmd-duration="$CMD_DURATION" --jobs=(jobs -p)
end

# disable builtin mode prompt
functions -e fish_mode_prompt
# disable virtualenv prompt
set VIRTUAL_ENV_DISABLE_PROMPT 1
{{- else -}}
function fish_prompt
  printf 'λ '
end
function fish_right_prompt
  prompt_pwd
end
{{- end -}}
