{{- if lookPath "tmux" -}}
function __fish_usr2_handler --on-signal SIGUSR2
  # tmux will signal USR2 on reattach; we use this to re-sync variables
  if is_tmux
    # discover and sync variables from the update-environment array
    for entry in (tmux show-environment)
      if string match -rq '^-' -- $entry
        set -eg (string replace '-' '' -- $entry)
      else
        set var (string split '=' $entry)
        set -gx $var[1] $var[2]
      end
    end
    # early return, so we don't exit
    return
  end
  # maintain default exit on USR2
  exit
end

function __tmux_session_name
  # only generate a session in a direct, local session
  not is_multiplexer; and not is_ssh; or return 1

  set -f tty (tty)

  # is a virtual console/tty
  if not string match -rq '^/dev/(pts/\d+|ttys\d+)$' $tty
    printf '%s' $tty; return
  end

  # is a terminal emulator/pty
  if is_wsl
    set -q WSL_DISTRO_NAME; and printf '%s' $WSL_DISTRO_NAME; or return 1
  else
    printf '%s' (prompt_hostname)
  end
end

function __tmux_auto_launch --on-event fish_startup
  status is-interactive; or return
  set session (__tmux_session_name); or return

  if not tmux has-session -t=$session &>/dev/null
    tmux new -s $session
  else if not string length -q -- (tmux list-clients -t $session)
    tmux attach -t $session
  end
end
{{- end -}}
