{{- if lookPath "zoxide" -}}
status is-interactive; or exit

{{ output "zoxide" "init" "--no-cmd" "fish" | trim }}

# define our own wrappers; avoiding the `abbr` dance the genrated script performs
function z -w __zoxide_z
    __zoxide_z $argv
end
function zi
    __zoxide_zi $argv
end
{{- end -}}
