# prepend an entry to manpath, moving if it already exists
function manup
  for entry in $argv[-1..1]
    if not contains $entry $MANPATH; and test -e $entry
      set -p MANPATH $entry
    end
  end
end

# ensure the system manpath is represented
set -q MANPATH; or set -x MANPATH ''

{{- if eq .chezmoi.os "darwin" }}
# macos
manup $HOMEBREW_PREFIX/share/man
set -x INFOPATH $HOMEBREW_PREFIX/share/info ''
{{- end }}

{{- if lookPath "mise" }}
{{- $ls := output "mise" "ls" "--current" "--json" | fromJson }}
{{- range $i, $tool := list "node" "python" }}
{{-   range $j, $v := index $ls $tool }}
{{-     if $v.install_path }}
manup {{ $v.install_path }}/share/man
{{-     end }}
{{-   end }}
{{- end }}
{{- end }}

# rust
if test -e $XDG_DATA_HOME/rustup/toolchains
  set -l rustup_toolchain stable
  if set -q RUSTUP_TOOLCHAIN
    set rustup_toolchain $RUSTUP_TOOLCHAIN
  else if test -e $XDG_DATA_HOME/rustup/settings.toml
    set rustup_toolchain (string match -r 'default_toolchain = "(.*)"' < $XDG_DATA_HOME/rustup/settings.toml)[2]
  end
  manup $XDG_DATA_HOME/rustup/toolchains/$rustup_toolchain*/{,share/}man
end

# local
manup $HOME/.local/share/man

# cleanup
functions -e manup
