{{- if .wsl.any -}}

{{- range $alias, $command := .wsl.aliases -}}
{{-   if not (lookPath $alias) -}}
function {{ $alias }} -d "wsl alias for {{ $command }}" -w {{ quote $command }}
  {{ $command }} $argv
end
{{    end -}}
{{  end -}}
{{- end -}}
