{{- if .wsl.any -}}

{{- range $alias, $command := .wsl.aliases }}
{{-   if not (lookPath $alias) }}{{/* do not alias on top of installed commands */}}
function {{ $alias }} -d "wsl wrapper for {{ $command }}" -w {{ quote $command }}
  {{ $command }} $argv
end
{{-  end}}
{{- end }}

{{- end -}}
