#
# User Details
#

[user]
	name = Bjorn Neergaard
	email = bjorn@neersighted.com

[credential]
	helper =
{{ if or (eq .chezmoi.os "windows") (lookPath "git-credential-manager-core") }}
	helper = manager-core
{{ else if .wsl.any }}
	helper = !{{ quote (lookPath "git.exe") }} credential-manager-core
{{ else }}
	helper = store
{{ end -}}
{{- if lookPath "gh" }}
{{-   range (list "https://github.com" "https://gist.github.com")}}
[credential {{ quote . }}]
	helper =
	helper = !{{ lookPath "gh" }} auth git-credential
{{-   end }}
{{- end }}
[credential "https://dev.azure.com"]
	useHttpPath = true

#
# General Config
#

[core]
{{- if lookPath "git-editor" }}
	editor = git-editor
{{- end }}
{{- if lookPath "delta" }}
	pager = delta
{{- end }}
	fsmonitor = true
{{- if eq .chezmoi.os "windows" }}
	autocrlf = false
	fscache = true
	symlinks = true
	longpaths = true
	sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
[safe]
	directory = *
[http]
	sslBackend = schannel
{{- end }}
[pull]
	ff = true
	rebase = true
[push]
	default = current

[init]
	defaultBranch = main
	templateDir = {{ quote (joinPath .chezmoi.homeDir ".config/git/templates") }}
[commit]
	verbose = true

[diff]
	algorithm = patience
	colorMoved = default
	mnemonicPrefix = true
[merge]
	ff = only
[rebase]
	autoSquash = true
	autoStash = true
	stat = true

[interactive]
{{- if lookPath "delta" }}
	diffFilter = delta --color-only
{{- end }}
	singleKey = true
{{- if lookPath "interactive-rebase-tool" }}
[sequence]
	editor = interactive-rebase-tool
{{- end }}

[status]
	short = true
	branch = true
	showStash = true
	submoduleSummary = true
[log]
	abbrevCommit = true

[format]
	pretty = onelineplus
[pretty]
	onelineplus = format:%C(yellow)%h%C(auto)%d%C(reset) %s %C(blue)(%cr)%C(reset) %C(green)<%aN>
	columns = format:%C(yellow)%h%C(magenta)% G? %C(blue)%<(12,trunc)%ar %C(green)%<(16,trunc)%aN %C(reset)%s%C(auto)%d

#
# Tools
#

[alias]
	fetch-pr = "!f() { git fetch origin \"pull/${1}/head\"; }; f"
	fixup = "!f() { SHA=$(git fzf-commit \"$1\"); git commit --fixup \"${SHA}\"; git rebase-auto \"${SHA}~\"; }; f"
	fzf-commit = "!f() { git log --no-merges --color=always | fzf --tiebreak=index --query \"$1\" | cut -d' ' -f1; }; f"
	prune = fetch --prune
	rebase-auto = -c sequence.editor=touch rebase --interactive --autosquash --autostash
	reset-perms = !git diff -p -R | grep -E '^(diff|(old|new) mode)' | git apply
	showf = show --pretty=fuller
	stash-all = stash save --include-untracked

{{- if lookPath "delta" }}
[delta]
	line-numbers = true
	navigate = true
{{- end}}

{{- if lookPath "git-lfs" }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- end }}

#
# Colors
#

[color "diff"]
	context = "normal"
	meta = "blue"
	frag = "magenta"
	func = "black"
	commit = "yellow"
	old = "red"
	new = "green"
	whitespace = "yellow reverse"
[color "diff-highlight"]
	oldNormal = "red"
	oldHighlight = "red reverse"
	newNormal = "green"
	newHighlight = "green reverse"

#
# Conditional Config
#

[includeIf "gitdir/i:Mirantis/"]
	path = ./config.mirantis

# vi: ft=gitconfig.chezmoitmpl
