{{- if .wsl -}}
[Unit]
Description=WSL2/Wincred Secret Service
Documentation=https://specifications.freedesktop.org/secret-service/0.2/
Requires=dbus.socket
After=dbus.socket

[Service]
Type=dbus
BusName=org.freedesktop.secrets
StandardError=journal
ExecStart={{ output "mise" "-E" "wsl" "which" "wsl-secret-service" | trim }} --helper-path {{ output "mise" "-E" "wsl" "which" "wincred-helper.exe" | trim}} --replace

Restart=on-failure
RestartSec=3s
TimeoutStartSec=30s
TimeoutStopSec=30s

LimitMEMLOCK=infinity

NoNewPrivileges=true

SupplementaryGroups=
PrivateUsers=yes

ProtectSystem=full
PrivateTmp=yes
PrivateDevices=yes

PrivateNetwork=yes

ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
MemoryDenyWriteExecute=yes
ProtectClock=yes

[Install]
Alias=dbus-org.freedesktop.secrets.service
{{- end -}}
