{{- if lookPath "fish" -}}
#!/usr/bin/env fish

if not functions -q fisher
  curl -sSL https://git.io/fisher | source
end

fisher update

# run_once hash: {{ include "private_dot_config/fish/fish_plugins" | sha256sum }}
# vi: ft=fish
{{- end -}}
