{{- if lookPath "fish" -}}
#!/bin/sh -e

getshell() {
  {{- if eq .chezmoi.os "darwin" }}
  dscl . read "/Users/$USER" UserShell | awk '{print $2}'
  {{ else }}
  getent passwd "$USER" | awk -F: '{print $7}'
  {{ end -}}
}

setshell() { # shell
  {{- if eq .chezmoi.os "darwin" }}
  sudo dscl . create "/Users/$USER" UserShell "$1"
  {{ else if eq .chezmoi.os "freebsd" }}
  su root -c "pw usermod -n '$USER' -s '$1'"
  {{ else }}
  sudo usermod -s "$1" "$USER"
  {{ end -}}
}

fish="{{ lookPath "fish" }}"
if [ "$(getshell)" != "$fish" ]; then
  if ! grep -Fxq "$fish" /etc/shells; then
    echo "Adding $fish to /etc/shells..."
    printf '%s\n' "$fish" | sudo tee -a /etc/shells
  fi

  echo "Changing login shell to fish..."
  setshell "$fish"
fi

# vi: ft=sh
{{- end -}}
