{{- if lookPath "fish" -}}
{{ include ".lib.sh" }}

{{ if stat (expandenv "$XDG_CONFIG_HOME/fish/functions/fisher.fish") }}
important "Syncing fish plugins..."
fish -c "fisher update"
{{ else }}
important "Bootstrapping fisher..."
fish -c "curl -sSL https://git.io/fisher | source; and fisher update"
{{ end }}

# run_once hash: {{ include "private_dot_config/fish/fish_plugins" | sha256sum }}
# vi: ft=sh
{{- end -}}
