{{- if lookPath "fish" -}}
#!/usr/bin/env -S fish -l

if not functions -q fisher
  set_color magenta
  echo "Bootstrapping fisher..."
  set_color normal

  curl -sSL https://git.io/fisher | source
end

fisher update

# run_onchange hash: {{ include "private_dot_config/fish/fish_plugins" | sha256sum }}
# vi: ft=fish
{{- end -}}
