{{- if lookPath "fish" -}}
#!/bin/sh

getshell() { # shell
  case $(uname) in
    Darwin)
      dscl . read "/Users/$USER" UserShell | awk '{print $2}'
      ;;
    *)
      getent passwd "$USER" | awk -F: '{print $7}'
      ;;
  esac
}

setshell() { # shell
  case $(uname) in
    Darwin)
      sudo dscl . create "/Users/$USER" UserShell "$1"
      ;;
    FreeBSD)
      su root -c "pw usermod -n '$USER' -s '$1'"
      ;;
    *)
      sudo usermod -s "$1" "$USER"
      ;;
  esac
}

fish="{{ lookPath "fish" }}"
if [ "$(getshell)" != "$fish" ]; then
  if ! grep -Fxq "$fish" /etc/shells; then
    echo "Adding $fish to /etc/shells..."
    printf '%s\n' "$fish" | sudo tee -a /etc/shells
  fi

  echo "Changing login shell to fish..."
  setshell "$fish"
fi

# vi: ft=sh
{{- end -}}
