{{- if lookPath "gh" -}}
{{- $gh_auth := stat (joinPath .chezmoi.homeDir ".config/gh/hosts.yml") -}}
{{- if $gh_auth -}}
#!/bin/sh -e

wanted='
mislav/gh-branch
mislav/gh-cp
yusukebe/gh-markdown-preview
{{- if ne .chezmoi.os "freebsd" }}
seachicken/gh-poi
dlvhdr/gh-prs
{{- end }}
'

# FIXME: tempoarily force https
proto=$(gh config get -h github.com git_protocol)
gh config set -h github.com git_protocol https

for repo in $wanted; do
  basename=$(basename "$repo")
  echo "Installing gh extension $basename..."
  test -d "$basename" || gh extension install "$repo"
done

gh config set -h github.com git_protocol "$proto"

# vi: ft=sh
{{- end -}}
{{- end -}}
