{{- if lookPath "gh" -}}
{{- $gh_auth := stat (expandenv "$HOME/.config/gh/hosts.yml") -}}
{{- if $gh_auth -}}
#!/bin/sh -e

wanted='
mislav/gh-branch
mislav/gh-cp
yusukebe/gh-markdown-preview
{{- if ne .chezmoi.os "freebsd" }}
seachicken/gh-poi
dlvhdr/gh-prs
{{- end }}
'

for repo in $wanted; do
  basename=$(basename "$repo")
  test -d "$basename" || gh extension install "https://github.com/$repo"
done

# run_onchange hash: {{ $gh_auth | not | not }}
# vi: ft=sh
{{- end -}}
{{- end -}}
