{{- $gh_auth := stat (joinPath .chezmoi.homeDir ".config/gh/hosts.yml") -}}
{{- if $gh_auth -}}
#!/bin/sh -e

wanted='
mislav/gh-branch
mislav/gh-cp
yusukebe/gh-markdown-preview
{{- if ne .chezmoi.os "freebsd" }}
seachicken/gh-poi
dlvhdr/gh-prs
{{- end }}
'

for repo in $wanted; do
  basename=$(basename "$repo")
  if ! test -d "$basename"; then
    echo "Installing gh extension $basename..."
    gh extension install "https://github.com/$repo"
  fi
done

{{- end -}}
