{{- if and (lookPath "rg") (lookPath "fzf") -}}
function rzf -w rg
  set -a options 'L/no-lines'

  argparse $options -- $argv; or return

  set results (
    rg --line-number --color=always $argv |
    fzf --multi \
      --delimiter : --with-nth=1,3 \
      --preview 'bat --style=numbers --highlight-line={2} {1} --color=always' \
      --preview-window +{2}-/2
  )

  if set -q _flag_L
    set results (string split -f 1 : $results)
  else
    set results (string match -r '[^:]*:[^:]*' $results)
  end

  if test -n "$results"
    commandline --replace "$EDITOR "(string escape $results | string join ' ')
    commandline --cursor (string length $EDITOR)
  end
end
{{- end -}}
