[Added Associations]

[Removed Associations]

[Default Applications]
{{- if .wsl.any }}
x-scheme-handler/file={{ .chezmoi.homeDir }}/.local/share/applications/wslopen.desktop;
x-scheme-handler/http={{ .chezmoi.homeDir }}/.local/share/applications/wslopen.desktop;
x-scheme-handler/https={{ .chezmoi.homeDir }}/.local/share/applications/wslopen.desktop;
{{ end -}}
