!! i3

i3wm.backgroundFocused: {{ .nord.nord1 }}
i3wm.backgroundUrgent:  {{ .nord.nord3 }}
i3wm.foregroundFocused: {{ .nord.nord4 }}
i3wm.foregroundUrgent:  {{ .nord.nord0 }}

i3wm.border:            {{ .nord.nord0 }}
i3wm.childBorder:       {{ .nord.nord0 }}
i3wm.indicator:         {{ .nord.nord2 }}

!! Global

*foreground:             {{ .nord.nord4 }}
*background:             {{ .nord.nord0 }}
*cursorColor:            {{ .nord.nord4 }}
*fading:                 35
*fadeColor:              {{ .nord.nord0 }}
*pointerColorBackground: {{ .nord.nord2 }}
*pointerColorForeground: {{ .nord.nord4 }}

*.color0: {{ .nord.nord1 }}
*.color1: {{ .nord.nord1 }}
*.color2: {{ .nord.nord4 }}
*.color3: {{ .nord.nord3 }}
*.color4: {{ .nord.nord9 }}
*.color5: {{ .nord.nord5 }}
*.color6: {{ .nord.nord8 }}
*.color7: {{ .nord.nord5 }}
*.color8: {{ .nord.nord3 }}
*.color9: {{ .nord.nord1 }}
*.color10: {{ .nord.nord4 }}
*.color11: {{ .nord.nord3 }}
*.color12: {{ .nord.nord9 }}
*.color13: {{ .nord.nord5 }}
*.color14: {{ .nord.nord7 }}
*.color15: {{ .nord.nord6 }}

!! vi: ft=xdefaults
