{{- if not (lookPath "pipx") -}}
#!/bin/sh

export PIPX_HOME="${PIPX_HOME:-${XDG_DATA_HOME:-$HOME/.local/share}/pipx}"
export PIPX_BIN_DIR="${PIPX_BIN_DIR:-${PIPX_HOME}/bin}"
export PATH="$PIPX_BIN_DIR:$PATH"

export PYENV_VERSION=system
export PIP_REQUIRE_VIRTUALENV=

echo "Installing pipx..."
python3 -m pip install -U pipx-in-pipx

# vi: ft=sh
{{- end -}}
